<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/akonadi-23.04.0.tar.xz">akonadi-23.04.0</a></td>
   <td align="right">1628kB</td>
   <td><tt>be894ebe776c5ff8f65818d9d6a57fceb5a5e57c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/akonadi-calendar-23.04.0.tar.xz">akonadi-calendar-23.04.0</a></td>
   <td align="right">401kB</td>
   <td><tt>78ed0d3a32401d20a4b01497dc541ec56222a9be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/akonadi-calendar-tools-23.04.0.tar.xz">akonadi-calendar-tools-23.04.0</a></td>
   <td align="right">248kB</td>
   <td><tt>42c87d528ea98783e3ed3992a5e7d7b133646944</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/akonadiconsole-23.04.0.tar.xz">akonadiconsole-23.04.0</a></td>
   <td align="right">264kB</td>
   <td><tt>8e854ca0d786fb6877c028aeb3dd25ce1342af63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/akonadi-contacts-23.04.0.tar.xz">akonadi-contacts-23.04.0</a></td>
   <td align="right">432kB</td>
   <td><tt>a0d5c143f8ec93c96aef841e7ec40a74664fcb68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/akonadi-import-wizard-23.04.0.tar.xz">akonadi-import-wizard-23.04.0</a></td>
   <td align="right">502kB</td>
   <td><tt>dbeb76d2f99d6672d994e13b6f37f51d841677ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/akonadi-mime-23.04.0.tar.xz">akonadi-mime-23.04.0</a></td>
   <td align="right">151kB</td>
   <td><tt>0440b3c243c54da227b8fcbe7752e811be6a3244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/akonadi-notes-23.04.0.tar.xz">akonadi-notes-23.04.0</a></td>
   <td align="right">27kB</td>
   <td><tt>af81325f0d7567b8b5f6273141b68596b8c44696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/akonadi-search-23.04.0.tar.xz">akonadi-search-23.04.0</a></td>
   <td align="right">99kB</td>
   <td><tt>c9ac2535301ca908c406ba2ccc5e5fb496b77fee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/akregator-23.04.0.tar.xz">akregator-23.04.0</a></td>
   <td align="right">2269kB</td>
   <td><tt>a601e9fbe5b129c5f37a2edf3d1010557c7751b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/alligator-23.04.0.tar.xz">alligator-23.04.0</a></td>
   <td align="right">184kB</td>
   <td><tt>2791112246654b3c02fad5e4732f16a35a913640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/analitza-23.04.0.tar.xz">analitza-23.04.0</a></td>
   <td align="right">344kB</td>
   <td><tt>12a3888c4cfedafe4778c8f7c8c10676bc0f7a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/angelfish-23.04.0.tar.xz">angelfish-23.04.0</a></td>
   <td align="right">237kB</td>
   <td><tt>5ca63731fe14c1d5e27586e82dab805ffb6601f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ark-23.04.0.tar.xz">ark-23.04.0</a></td>
   <td align="right">2940kB</td>
   <td><tt>5721886480e4943ffa92aa9ad98942e52a00f6d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/artikulate-23.04.0.tar.xz">artikulate-23.04.0</a></td>
   <td align="right">1068kB</td>
   <td><tt>7546bc7af4808ce3e6db9454afc0841468bfa769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/audiocd-kio-23.04.0.tar.xz">audiocd-kio-23.04.0</a></td>
   <td align="right">548kB</td>
   <td><tt>9345b53c4d94e2bcd2336b73359db7ffe28468ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/audiotube-23.04.0.tar.xz">audiotube-23.04.0</a></td>
   <td align="right">107kB</td>
   <td><tt>065919205a7f76b245e89ab8dd26a749e42bb7ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/baloo-widgets-23.04.0.tar.xz">baloo-widgets-23.04.0</a></td>
   <td align="right">269kB</td>
   <td><tt>7190224f0473b33e43f7f5cdaf83d8f856a0e70a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/blinken-23.04.0.tar.xz">blinken-23.04.0</a></td>
   <td align="right">2659kB</td>
   <td><tt>93e67653b394833ad69c9a1d57143fa91fbb068f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/bomber-23.04.0.tar.xz">bomber-23.04.0</a></td>
   <td align="right">818kB</td>
   <td><tt>9822f14117e3519ea70106d31115c3af728bcfc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/bovo-23.04.0.tar.xz">bovo-23.04.0</a></td>
   <td align="right">209kB</td>
   <td><tt>0304681617158b7b668eee71a8f1743538834721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/calendarsupport-23.04.0.tar.xz">calendarsupport-23.04.0</a></td>
   <td align="right">965kB</td>
   <td><tt>58719dd0bc4317575070d7943f4a1c90e34b76c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/calindori-23.04.0.tar.xz">calindori-23.04.0</a></td>
   <td align="right">372kB</td>
   <td><tt>ca6c502d264cecfc080927b58bf248b3ed713ae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/cantor-23.04.0.tar.xz">cantor-23.04.0</a></td>
   <td align="right">9049kB</td>
   <td><tt>6f41bc4b1eebdaaf691c76135b88f71554eeb45d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/cervisia-23.04.0.tar.xz">cervisia-23.04.0</a></td>
   <td align="right">1898kB</td>
   <td><tt>d03914cc872cd11f931257f4f638f7251199fa7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/colord-kde-23.04.0.tar.xz">colord-kde-23.04.0</a></td>
   <td align="right">104kB</td>
   <td><tt>03230c60a36e7e1d94197bb72f3637fb25a00b36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/dolphin-23.04.0.tar.xz">dolphin-23.04.0</a></td>
   <td align="right">5601kB</td>
   <td><tt>1f43448ba2e70b435e9e4bd49f9dba0fbbdc4b3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/dolphin-plugins-23.04.0.tar.xz">dolphin-plugins-23.04.0</a></td>
   <td align="right">266kB</td>
   <td><tt>f9f92aaa0f5ad6a861d552b632c71b45b2cb070f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/dragon-23.04.0.tar.xz">dragon-23.04.0</a></td>
   <td align="right">1629kB</td>
   <td><tt>5cbb84878900a2ab2da8c5a8fae2b98f470f9783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/elisa-23.04.0.tar.xz">elisa-23.04.0</a></td>
   <td align="right">1767kB</td>
   <td><tt>a4f8926861983cbc797e493adaec66485985a099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/eventviews-23.04.0.tar.xz">eventviews-23.04.0</a></td>
   <td align="right">453kB</td>
   <td><tt>d6796f014513fde20e53931c6f89c9dc489f5083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/falkon-23.04.0.tar.xz">falkon-23.04.0</a></td>
   <td align="right">2492kB</td>
   <td><tt>da2ff8345ce5abe4c024d59c43f36b43b79a2f35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ffmpegthumbs-23.04.0.tar.xz">ffmpegthumbs-23.04.0</a></td>
   <td align="right">31kB</td>
   <td><tt>88dc886eee94a4f24c385834c140f437d65c1d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/filelight-23.04.0.tar.xz">filelight-23.04.0</a></td>
   <td align="right">679kB</td>
   <td><tt>a9115cb365ef025273ee0edfdfdbcbf77b048044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ghostwriter-23.04.0.tar.xz">ghostwriter-23.04.0</a></td>
   <td align="right">2999kB</td>
   <td><tt>8bcbd62451161661392e110ef4a59d89e38c5f06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/granatier-23.04.0.tar.xz">granatier-23.04.0</a></td>
   <td align="right">2063kB</td>
   <td><tt>5cfe3791c0c46d456a0e95c607ec60cde10d5f16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/grantlee-editor-23.04.0.tar.xz">grantlee-editor-23.04.0</a></td>
   <td align="right">114kB</td>
   <td><tt>e994320d49870192545bad5a1ee0aa0acb01a05f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/grantleetheme-23.04.0.tar.xz">grantleetheme-23.04.0</a></td>
   <td align="right">61kB</td>
   <td><tt>3f06bd588926468d6a26a1e6a189061e6fcd136d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/gwenview-23.04.0.tar.xz">gwenview-23.04.0</a></td>
   <td align="right">6729kB</td>
   <td><tt>0c6191a30a130f95ce62056caa36280748da319b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/incidenceeditor-23.04.0.tar.xz">incidenceeditor-23.04.0</a></td>
   <td align="right">556kB</td>
   <td><tt>0474a7aab2e683b64edeb1188b67a3c34626c7d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/itinerary-23.04.0.tar.xz">itinerary-23.04.0</a></td>
   <td align="right">565kB</td>
   <td><tt>7c691966fc91bdbc44e14339a2f2afdfb70d49db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/juk-23.04.0.tar.xz">juk-23.04.0</a></td>
   <td align="right">2031kB</td>
   <td><tt>6eb311d37abd455ada81dc84b2dd201b0b16468e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/k3b-23.04.0.tar.xz">k3b-23.04.0</a></td>
   <td align="right">10694kB</td>
   <td><tt>02e7e9c6305506ddb4507aedca523702f987519e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kaccounts-integration-23.04.0.tar.xz">kaccounts-integration-23.04.0</a></td>
   <td align="right">86kB</td>
   <td><tt>866cfc1577e0879ba7f0e12c9ee063568afe6d4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kaccounts-providers-23.04.0.tar.xz">kaccounts-providers-23.04.0</a></td>
   <td align="right">64kB</td>
   <td><tt>4a816628611ac6e9a7ba3e8ee7f9d966601a182b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kaddressbook-23.04.0.tar.xz">kaddressbook-23.04.0</a></td>
   <td align="right">3376kB</td>
   <td><tt>b64f4ba6e0cc2d514adf06bf79fee0ea06e929c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kajongg-23.04.0.tar.xz">kajongg-23.04.0</a></td>
   <td align="right">4470kB</td>
   <td><tt>43d5660af5874c217c160db620c5ebeedba328dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kalarm-23.04.0.tar.xz">kalarm-23.04.0</a></td>
   <td align="right">2527kB</td>
   <td><tt>56751bd0419939d2894d6336b6e1f811c5882bbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kalendar-23.04.0.tar.xz">kalendar-23.04.0</a></td>
   <td align="right">803kB</td>
   <td><tt>dadec005c637b3667a3217017cdbe1ff8bae68e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kalgebra-23.04.0.tar.xz">kalgebra-23.04.0</a></td>
   <td align="right">1012kB</td>
   <td><tt>b9ae7983a1db966b60856455f5584bb52ccd9854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kalk-23.04.0.tar.xz">kalk-23.04.0</a></td>
   <td align="right">81kB</td>
   <td><tt>62f935baff3e355910cbaeb2b90bf44754c01d4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kalzium-23.04.0.tar.xz">kalzium-23.04.0</a></td>
   <td align="right">24065kB</td>
   <td><tt>d1202681e477db1cc77369897673b196efa3bafd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kamera-23.04.0.tar.xz">kamera-23.04.0</a></td>
   <td align="right">126kB</td>
   <td><tt>dd8b2a362d12ebde5d0124ffbdb674e8928b8451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kamoso-23.04.0.tar.xz">kamoso-23.04.0</a></td>
   <td align="right">226kB</td>
   <td><tt>fe198e13fde2c7637559883bf8c7ffcea94ff8eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kanagram-23.04.0.tar.xz">kanagram-23.04.0</a></td>
   <td align="right">7873kB</td>
   <td><tt>f464f80e941b56ae381d1f69db85c888111ea3ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kapman-23.04.0.tar.xz">kapman-23.04.0</a></td>
   <td align="right">2422kB</td>
   <td><tt>a7024c1f7b2db4e9dc1910920edffd55f0822391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kapptemplate-23.04.0.tar.xz">kapptemplate-23.04.0</a></td>
   <td align="right">330kB</td>
   <td><tt>a7a183e92c62e1dd970253a7ff44d92180f41455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kasts-23.04.0.tar.xz">kasts-23.04.0</a></td>
   <td align="right">529kB</td>
   <td><tt>9a711a4dc122ec30d4d4fdcf06d09135bc01d463</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kate-23.04.0.tar.xz">kate-23.04.0</a></td>
   <td align="right">7797kB</td>
   <td><tt>83949f2bb5194b622ef58659470a0458763dcb60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/katomic-23.04.0.tar.xz">katomic-23.04.0</a></td>
   <td align="right">1417kB</td>
   <td><tt>1c9b68e29d9f391be9203e4cb37c873d7c82a247</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kbackup-23.04.0.tar.xz">kbackup-23.04.0</a></td>
   <td align="right">387kB</td>
   <td><tt>7afe0774e790b2769f7263f107447889aece4f79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kblackbox-23.04.0.tar.xz">kblackbox-23.04.0</a></td>
   <td align="right">537kB</td>
   <td><tt>993394154a65d440d35d14d908757d2d1b8fffcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kblocks-23.04.0.tar.xz">kblocks-23.04.0</a></td>
   <td align="right">2058kB</td>
   <td><tt>596914b8edff9d7b15245659379145f24b4a35e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kbounce-23.04.0.tar.xz">kbounce-23.04.0</a></td>
   <td align="right">3461kB</td>
   <td><tt>dcec8c277c90174cece5cd3a5fc3a1f7aaa656a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kbreakout-23.04.0.tar.xz">kbreakout-23.04.0</a></td>
   <td align="right">2499kB</td>
   <td><tt>5691eaae91711c0a7af08f0bff2fff8363e5c5ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kbruch-23.04.0.tar.xz">kbruch-23.04.0</a></td>
   <td align="right">5523kB</td>
   <td><tt>f6242f28f8a8737eccc1a2fe16775b531bf3511f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kcachegrind-23.04.0.tar.xz">kcachegrind-23.04.0</a></td>
   <td align="right">896kB</td>
   <td><tt>db994b9d32d4c981eb20db181cf36887dc13d0ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kcalc-23.04.0.tar.xz">kcalc-23.04.0</a></td>
   <td align="right">426kB</td>
   <td><tt>010dd7e5a613156483fe6b4baa615e0876dead53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kcalutils-23.04.0.tar.xz">kcalutils-23.04.0</a></td>
   <td align="right">350kB</td>
   <td><tt>6f559162fccdaeffaf566717de02b6d6a2589aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kcharselect-23.04.0.tar.xz">kcharselect-23.04.0</a></td>
   <td align="right">373kB</td>
   <td><tt>c08498cca7bdf2f8d0728213ea1e7f23f84d01e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kclock-23.04.0.tar.xz">kclock-23.04.0</a></td>
   <td align="right">709kB</td>
   <td><tt>662ece188e59519bcf2c6f14a75d596d47b84d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kcolorchooser-23.04.0.tar.xz">kcolorchooser-23.04.0</a></td>
   <td align="right">32kB</td>
   <td><tt>bd487adc539a4c9bb6a5de5f2db47f098c5dfb65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kcron-23.04.0.tar.xz">kcron-23.04.0</a></td>
   <td align="right">920kB</td>
   <td><tt>f53ea07db599e4480b9e4ddf06a084ce6937023e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdebugsettings-23.04.0.tar.xz">kdebugsettings-23.04.0</a></td>
   <td align="right">94kB</td>
   <td><tt>2ae929b7dfab048a5b30109849dc5e28420d540d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdeconnect-kde-23.04.0.tar.xz">kdeconnect-kde-23.04.0</a></td>
   <td align="right">633kB</td>
   <td><tt>19be998c7ec90e80f8128cd56e857bcd3d7e0eb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kde-dev-scripts-23.04.0.tar.xz">kde-dev-scripts-23.04.0</a></td>
   <td align="right">363kB</td>
   <td><tt>5c06c0b990547d662cf0a63bae48977f8709e881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kde-dev-utils-23.04.0.tar.xz">kde-dev-utils-23.04.0</a></td>
   <td align="right">70kB</td>
   <td><tt>5a744e1b69b8ef248e8950efdd5921d3a6d3b8ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdeedu-data-23.04.0.tar.xz">kdeedu-data-23.04.0</a></td>
   <td align="right">325kB</td>
   <td><tt>2599f0eaccf6848ca52ca241d4e7ebc2d3744f71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdegraphics-mobipocket-23.04.0.tar.xz">kdegraphics-mobipocket-23.04.0</a></td>
   <td align="right">12kB</td>
   <td><tt>f349ddf7458eedfffbe4bed4a055a7b587d7cc96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdegraphics-thumbnailers-23.04.0.tar.xz">kdegraphics-thumbnailers-23.04.0</a></td>
   <td align="right">48kB</td>
   <td><tt>a937b627e3508a3c0c39b93d7a2f23aa8b7bbd10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kde-inotify-survey-23.04.0.tar.xz">kde-inotify-survey-23.04.0</a></td>
   <td align="right">220kB</td>
   <td><tt>8ca1fdfa716bced867d101058c13996a86f66303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdenetwork-filesharing-23.04.0.tar.xz">kdenetwork-filesharing-23.04.0</a></td>
   <td align="right">459kB</td>
   <td><tt>66459dc92bcee2c74f068d883d340a4cae2a8efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdenlive-23.04.0.tar.xz">kdenlive-23.04.0</a></td>
   <td align="right">12265kB</td>
   <td><tt>45232f567338aeb2c131a36f692f66fb914b57fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdepim-addons-23.04.0.tar.xz">kdepim-addons-23.04.0</a></td>
   <td align="right">2586kB</td>
   <td><tt>fff699f13cb2f9f1b514e93ac3d0e032a7aa612c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdepim-runtime-23.04.0.tar.xz">kdepim-runtime-23.04.0</a></td>
   <td align="right">1819kB</td>
   <td><tt>b841ba508d357d12b6a46450bdb2979168fbe5d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdesdk-kio-23.04.0.tar.xz">kdesdk-kio-23.04.0</a></td>
   <td align="right">39kB</td>
   <td><tt>d939aac7853c6bdf522ad4085bf6eea2f079e890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdesdk-thumbnailers-23.04.0.tar.xz">kdesdk-thumbnailers-23.04.0</a></td>
   <td align="right">26kB</td>
   <td><tt>8d031ef022cca69e1d05adca3fd68139623e85dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdevelop-23.04.0.tar.xz">kdevelop-23.04.0</a></td>
   <td align="right">8453kB</td>
   <td><tt>c6f074f728c412a290eeb234461d5916c2f3823b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdev-php-23.04.0.tar.xz">kdev-php-23.04.0</a></td>
   <td align="right">1060kB</td>
   <td><tt>86097a29133ab3c9d5e920913b85d2836fe2ad04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdev-python-23.04.0.tar.xz">kdev-python-23.04.0</a></td>
   <td align="right">1070kB</td>
   <td><tt>1b8d06f73e9c96e2e9e8a1f697793845ba416eff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdf-23.04.0.tar.xz">kdf-23.04.0</a></td>
   <td align="right">480kB</td>
   <td><tt>f912f3fdfcfdb2ca726eed36b96b9205a3d19c9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdialog-23.04.0.tar.xz">kdialog-23.04.0</a></td>
   <td align="right">138kB</td>
   <td><tt>e173424d02fa1b797993c1e8860f1f2d0e9c09a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kdiamond-23.04.0.tar.xz">kdiamond-23.04.0</a></td>
   <td align="right">4598kB</td>
   <td><tt>059858d19024f7181d394d1139cdc083226a0886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/keditbookmarks-23.04.0.tar.xz">keditbookmarks-23.04.0</a></td>
   <td align="right">233kB</td>
   <td><tt>cce95be92d9e776b20f6932774cc504e9e04f5ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/keysmith-23.04.0.tar.xz">keysmith-23.04.0</a></td>
   <td align="right">155kB</td>
   <td><tt>76318608037c6c1901685560608d9e6005e5fadc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kfind-23.04.0.tar.xz">kfind-23.04.0</a></td>
   <td align="right">334kB</td>
   <td><tt>76e6143b1108ff220ce623c8b64d3294cf068001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kfloppy-23.04.0.tar.xz">kfloppy-23.04.0</a></td>
   <td align="right">239kB</td>
   <td><tt>7514270571e6fab1d783c1d9f08b262b0f439dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kfourinline-23.04.0.tar.xz">kfourinline-23.04.0</a></td>
   <td align="right">722kB</td>
   <td><tt>a7a798c66931b9c6fdf7d893fbb2bd8ebd27b8de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kgeography-23.04.0.tar.xz">kgeography-23.04.0</a></td>
   <td align="right">12256kB</td>
   <td><tt>2ab02219999af5be9e2369ab464102663bf2bc29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kget-23.04.0.tar.xz">kget-23.04.0</a></td>
   <td align="right">5430kB</td>
   <td><tt>02359239a16cee83249431b35e51e6c3ee0ef28c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kgoldrunner-23.04.0.tar.xz">kgoldrunner-23.04.0</a></td>
   <td align="right">4789kB</td>
   <td><tt>8994ff4519fc43a2097156d288c094c42c94b480</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kgpg-23.04.0.tar.xz">kgpg-23.04.0</a></td>
   <td align="right">2973kB</td>
   <td><tt>e89d2f5d9876b980505bf30a7e707d121add1132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/khangman-23.04.0.tar.xz">khangman-23.04.0</a></td>
   <td align="right">7269kB</td>
   <td><tt>486afd46d1a58febaa4f697b6f9e04f715be08b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/khelpcenter-23.04.0.tar.xz">khelpcenter-23.04.0</a></td>
   <td align="right">4266kB</td>
   <td><tt>1e91015d3e9c29e86b6a2a089df5c9f935996509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kidentitymanagement-23.04.0.tar.xz">kidentitymanagement-23.04.0</a></td>
   <td align="right">160kB</td>
   <td><tt>dc9ede1404eeaf0ae2714a1747fe1301ec8669d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kig-23.04.0.tar.xz">kig-23.04.0</a></td>
   <td align="right">3204kB</td>
   <td><tt>2f41b39ad880a23278960dabe683b4d2dbf999fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kigo-23.04.0.tar.xz">kigo-23.04.0</a></td>
   <td align="right">5141kB</td>
   <td><tt>074f7195d389f36f50f34804feb35d80b5c33c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/killbots-23.04.0.tar.xz">killbots-23.04.0</a></td>
   <td align="right">1173kB</td>
   <td><tt>b437892864586d5770a44670e353c47f7dd593f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kimagemapeditor-23.04.0.tar.xz">kimagemapeditor-23.04.0</a></td>
   <td align="right">1077kB</td>
   <td><tt>4721336ebb43e616d7194d21a6fba7cb292a61a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kimap-23.04.0.tar.xz">kimap-23.04.0</a></td>
   <td align="right">127kB</td>
   <td><tt>dc9fcbbbf5c575cab1aa293b014e3e0929bc05fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kio-admin-23.04.0.tar.xz">kio-admin-23.04.0</a></td>
   <td align="right">33kB</td>
   <td><tt>03b5a4f04e172c362d9dc2f8a7af781bec17687e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kio-extras-23.04.0.tar.xz">kio-extras-23.04.0</a></td>
   <td align="right">1392kB</td>
   <td><tt>6c294fbeb5ed2792fabb852c96917df23b2b19fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kio-gdrive-23.04.0.tar.xz">kio-gdrive-23.04.0</a></td>
   <td align="right">77kB</td>
   <td><tt>d3954758d799d40432a5750bece602efc45ae3fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kio-zeroconf-23.04.0.tar.xz">kio-zeroconf-23.04.0</a></td>
   <td align="right">43kB</td>
   <td><tt>987cf0ea526a35341d99850a6f772ae1f8cf7251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kipi-plugins-23.04.0.tar.xz">kipi-plugins-23.04.0</a></td>
   <td align="right">1527kB</td>
   <td><tt>a200f15da82bcd045c7af08ea2d27a2c070e143d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kirigami-gallery-23.04.0.tar.xz">kirigami-gallery-23.04.0</a></td>
   <td align="right">342kB</td>
   <td><tt>cacc87bee01a51474d75047f49b0f9e67f525c14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kiriki-23.04.0.tar.xz">kiriki-23.04.0</a></td>
   <td align="right">361kB</td>
   <td><tt>99989163a0375f4263b76e4a8b562a1d3d09860e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kiten-23.04.0.tar.xz">kiten-23.04.0</a></td>
   <td align="right">11068kB</td>
   <td><tt>f9ec14fe97b36a3fcb61c783b347080af5d556ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kitinerary-23.04.0.tar.xz">kitinerary-23.04.0</a></td>
   <td align="right">1707kB</td>
   <td><tt>2c901298251fa5abd3209bc4bf097fc84519d198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kjournald-23.04.0.tar.xz">kjournald-23.04.0</a></td>
   <td align="right">500kB</td>
   <td><tt>c5c3d3896ea90d35bba261535fb53ec59670f889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kjumpingcube-23.04.0.tar.xz">kjumpingcube-23.04.0</a></td>
   <td align="right">328kB</td>
   <td><tt>f538350a6af12d8bc9ccaf3c9f5ef9f4d22e1ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kldap-23.04.0.tar.xz">kldap-23.04.0</a></td>
   <td align="right">178kB</td>
   <td><tt>77c844918b109aadd230b6594c8a377d0e8ffaee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kleopatra-23.04.0.tar.xz">kleopatra-23.04.0</a></td>
   <td align="right">2547kB</td>
   <td><tt>6f2f590543608c0b5074a1ff4deb9cd0962d60b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/klettres-23.04.0.tar.xz">klettres-23.04.0</a></td>
   <td align="right">46717kB</td>
   <td><tt>5593d1f67dde3d8ea270151d049c127793be8e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/klickety-23.04.0.tar.xz">klickety-23.04.0</a></td>
   <td align="right">1464kB</td>
   <td><tt>0388cc36785e78a2622e3a017a3b84b3186f078f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/klines-23.04.0.tar.xz">klines-23.04.0</a></td>
   <td align="right">1697kB</td>
   <td><tt>be4108fd49ce72556c9f07132246067f8aa1954c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmag-23.04.0.tar.xz">kmag-23.04.0</a></td>
   <td align="right">707kB</td>
   <td><tt>c5a7fe3c546b93ef90cc1e6c1284f14ac6b347f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmahjongg-23.04.0.tar.xz">kmahjongg-23.04.0</a></td>
   <td align="right">4000kB</td>
   <td><tt>73c9a47b4da9ee04aeba20f953709893d7ce8525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmail-23.04.0.tar.xz">kmail-23.04.0</a></td>
   <td align="right">7465kB</td>
   <td><tt>a4602580a48ab474328d5359194c37d84f807c87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmail-account-wizard-23.04.0.tar.xz">kmail-account-wizard-23.04.0</a></td>
   <td align="right">180kB</td>
   <td><tt>3da0f162780af85a2410974a3345eaa3cc03f4b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmailtransport-23.04.0.tar.xz">kmailtransport-23.04.0</a></td>
   <td align="right">187kB</td>
   <td><tt>3895aaca3479e35b5439f935d753e76fbb6f1c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmbox-23.04.0.tar.xz">kmbox-23.04.0</a></td>
   <td align="right">28kB</td>
   <td><tt>613e1aa134952d86fbca365c0ae5e1c3225575bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmime-23.04.0.tar.xz">kmime-23.04.0</a></td>
   <td align="right">158kB</td>
   <td><tt>0f662245217a876e77c3d75a44572696cef1b2b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmines-23.04.0.tar.xz">kmines-23.04.0</a></td>
   <td align="right">985kB</td>
   <td><tt>4dac4f6a90e793bdd448f97e7cf19f0e8d4b5072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmix-23.04.0.tar.xz">kmix-23.04.0</a></td>
   <td align="right">1168kB</td>
   <td><tt>2210b1108820bd7df06d32398b2a8f856c4097ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmousetool-23.04.0.tar.xz">kmousetool-23.04.0</a></td>
   <td align="right">126kB</td>
   <td><tt>d5a906decba6799695656a21ab2a0bf102809d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmouth-23.04.0.tar.xz">kmouth-23.04.0</a></td>
   <td align="right">2038kB</td>
   <td><tt>d6e81c6dc48c718681f859e20145c31fc831e340</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kmplot-23.04.0.tar.xz">kmplot-23.04.0</a></td>
   <td align="right">3027kB</td>
   <td><tt>c5d8d9445ae37e9ecd64b33e6526c01304e0a30f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/knavalbattle-23.04.0.tar.xz">knavalbattle-23.04.0</a></td>
   <td align="right">1368kB</td>
   <td><tt>afba6bd5ec489dc32d3b391fcb697092e9b3f57b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/knetwalk-23.04.0.tar.xz">knetwalk-23.04.0</a></td>
   <td align="right">1078kB</td>
   <td><tt>542b17907802c14e594644cfc8c8134fbf69973a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/knights-23.04.0.tar.xz">knights-23.04.0</a></td>
   <td align="right">3251kB</td>
   <td><tt>f8a92f0c867c206113e1dcee1c1f123499aed800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/knotes-23.04.0.tar.xz">knotes-23.04.0</a></td>
   <td align="right">366kB</td>
   <td><tt>f217b73142487b5531262bf00e96b6401023e577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/koko-23.04.0.tar.xz">koko-23.04.0</a></td>
   <td align="right">134kB</td>
   <td><tt>53c4d54a025651ff0d47cbdc86f37b934a7c8407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kolf-23.04.0.tar.xz">kolf-23.04.0</a></td>
   <td align="right">1045kB</td>
   <td><tt>379cf4e892110bfc2c33c8f0b1b06a99dfad4c16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kollision-23.04.0.tar.xz">kollision-23.04.0</a></td>
   <td align="right">299kB</td>
   <td><tt>9a11a4f4eff35fb1646f94883420c4595dc8cc7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kolourpaint-23.04.0.tar.xz">kolourpaint-23.04.0</a></td>
   <td align="right">5649kB</td>
   <td><tt>ba606d1af09e6d0a44742ba5d05c363702dab584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kompare-23.04.0.tar.xz">kompare-23.04.0</a></td>
   <td align="right">959kB</td>
   <td><tt>f1eb59822da1f8669dcabd83237d5c73cc5b3b3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kongress-23.04.0.tar.xz">kongress-23.04.0</a></td>
   <td align="right">573kB</td>
   <td><tt>4dd2fffa2126184e27c4f55e68d1cdaf45856881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/konqueror-23.04.0.tar.xz">konqueror-23.04.0</a></td>
   <td align="right">8291kB</td>
   <td><tt>b90682bf6a449d976c1b57c9789f05942d47b826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/konquest-23.04.0.tar.xz">konquest-23.04.0</a></td>
   <td align="right">855kB</td>
   <td><tt>d82cfd7e8f409b6699fc3e6097b6d08cdffdc21d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/konsole-23.04.0.tar.xz">konsole-23.04.0</a></td>
   <td align="right">1774kB</td>
   <td><tt>4076b3e9d83ed3a45c6eea845a6a285e135f24b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kontact-23.04.0.tar.xz">kontact-23.04.0</a></td>
   <td align="right">851kB</td>
   <td><tt>a175e1fb60daaad47d226717f1a4bb2042b7d611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kontactinterface-23.04.0.tar.xz">kontactinterface-23.04.0</a></td>
   <td align="right">39kB</td>
   <td><tt>65e76f1f2d45d978e606514dbb5e644d9c5ff85a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kontrast-23.04.0.tar.xz">kontrast-23.04.0</a></td>
   <td align="right">200kB</td>
   <td><tt>6fb0ba9a79371af2e7d2f050e878e12395a96652</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/konversation-23.04.0.tar.xz">konversation-23.04.0</a></td>
   <td align="right">4350kB</td>
   <td><tt>7b8f22ba4e67cc94014ac6fae0bd7b428fe1a316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kopeninghours-23.04.0.tar.xz">kopeninghours-23.04.0</a></td>
   <td align="right">69kB</td>
   <td><tt>a998e903ffb921b15c3c403d9886b90c4eedc114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kopete-23.04.0.tar.xz">kopete-23.04.0</a></td>
   <td align="right">9907kB</td>
   <td><tt>0c9e99180472a7ea72c382e6420573afcfcc79e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/korganizer-23.04.0.tar.xz">korganizer-23.04.0</a></td>
   <td align="right">2477kB</td>
   <td><tt>78fcdc329d06320d5236bd77da91615bee0e29ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kosmindoormap-23.04.0.tar.xz">kosmindoormap-23.04.0</a></td>
   <td align="right">365kB</td>
   <td><tt>4af8cc0e41bf04e1d0d8c8635b0b5e45f11a4acc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kpat-23.04.0.tar.xz">kpat-23.04.0</a></td>
   <td align="right">3664kB</td>
   <td><tt>f446c3fc9b19a49cf17995f15b8c6e25be0d2eed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kpimtextedit-23.04.0.tar.xz">kpimtextedit-23.04.0</a></td>
   <td align="right">213kB</td>
   <td><tt>ddffd351a11c03c6309942b151816e0027752d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kpkpass-23.04.0.tar.xz">kpkpass-23.04.0</a></td>
   <td align="right">28kB</td>
   <td><tt>c18b6780f52ff6e8169e0f769cadf2e023328d8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kpmcore-23.04.0.tar.xz">kpmcore-23.04.0</a></td>
   <td align="right">608kB</td>
   <td><tt>835c5ee44e437c156d9c1d5d6479db89a4cfc3e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kpublictransport-23.04.0.tar.xz">kpublictransport-23.04.0</a></td>
   <td align="right">521kB</td>
   <td><tt>fb3dea3fc31d67236e6263f6d94efb8b46a7dd3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kqtquickcharts-23.04.0.tar.xz">kqtquickcharts-23.04.0</a></td>
   <td align="right">30kB</td>
   <td><tt>2b7b69f2da678fffac6e1af6fc7c175f887b609e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/krdc-23.04.0.tar.xz">krdc-23.04.0</a></td>
   <td align="right">1595kB</td>
   <td><tt>02c1cb7e40bea082e0372019c2db6f307aaa6aee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/krecorder-23.04.0.tar.xz">krecorder-23.04.0</a></td>
   <td align="right">155kB</td>
   <td><tt>8da7b8981f74004b7cf0c8e455cdc66d169d3a0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kreversi-23.04.0.tar.xz">kreversi-23.04.0</a></td>
   <td align="right">1052kB</td>
   <td><tt>9618133ce0733b99a4fa48669c524abde03b6060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/krfb-23.04.0.tar.xz">krfb-23.04.0</a></td>
   <td align="right">1288kB</td>
   <td><tt>92f4af9a5a816b498770f6a6ed299cb81f8a2319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kross-interpreters-23.04.0.tar.xz">kross-interpreters-23.04.0</a></td>
   <td align="right">148kB</td>
   <td><tt>ff230fe804de173886c812e13514b17963a4c5e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kruler-23.04.0.tar.xz">kruler-23.04.0</a></td>
   <td align="right">280kB</td>
   <td><tt>360fb0b5bea8baebd6e4cc9b45485c488f9a2546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ksanecore-23.04.0.tar.xz">ksanecore-23.04.0</a></td>
   <td align="right">48kB</td>
   <td><tt>8bd83f1bdca4bf16702100206a154f8f2980c2e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kshisen-23.04.0.tar.xz">kshisen-23.04.0</a></td>
   <td align="right">984kB</td>
   <td><tt>1ff78173f7dca8e159e95ddad20755f24fb911db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ksirk-23.04.0.tar.xz">ksirk-23.04.0</a></td>
   <td align="right">6882kB</td>
   <td><tt>501c6efa0be7c06ac8b853276c4151cce2a32d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ksmtp-23.04.0.tar.xz">ksmtp-23.04.0</a></td>
   <td align="right">49kB</td>
   <td><tt>d3c3127667ba7def7b9ad612bc9451f34c3917b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ksnakeduel-23.04.0.tar.xz">ksnakeduel-23.04.0</a></td>
   <td align="right">587kB</td>
   <td><tt>0012b70b92bfc9ae769f64016ca257a55de51677</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kspaceduel-23.04.0.tar.xz">kspaceduel-23.04.0</a></td>
   <td align="right">644kB</td>
   <td><tt>bce0671f3f0f0fce2b03fd8d59957cad3a6e7e59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ksquares-23.04.0.tar.xz">ksquares-23.04.0</a></td>
   <td align="right">305kB</td>
   <td><tt>3329ed9b9b4d6844bcc8f8a7bef35443d5a1121b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ksudoku-23.04.0.tar.xz">ksudoku-23.04.0</a></td>
   <td align="right">1662kB</td>
   <td><tt>5132b9e65807e3203ac0bb17275595618aa53dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ksystemlog-23.04.0.tar.xz">ksystemlog-23.04.0</a></td>
   <td align="right">1955kB</td>
   <td><tt>40276fd116c72a389edeab8029699c75a3e0439b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kteatime-23.04.0.tar.xz">kteatime-23.04.0</a></td>
   <td align="right">305kB</td>
   <td><tt>0bc8b09c454848c8417f51a5aef3ec03fb30c0b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktimer-23.04.0.tar.xz">ktimer-23.04.0</a></td>
   <td align="right">394kB</td>
   <td><tt>3c5cd5a3486eb6b02db252dc16cff463c8fdf3d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktnef-23.04.0.tar.xz">ktnef-23.04.0</a></td>
   <td align="right">302kB</td>
   <td><tt>57dd6d4ff676780176f8acd4ce27f8211e7d0e53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktorrent-23.04.0.tar.xz">ktorrent-23.04.0</a></td>
   <td align="right">2099kB</td>
   <td><tt>1387b6960be0780ec946e082d382084a44dc15e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktouch-23.04.0.tar.xz">ktouch-23.04.0</a></td>
   <td align="right">4917kB</td>
   <td><tt>2ecb4af5f378e99dc3a9add1c474087b12d1d6a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-accounts-kcm-23.04.0.tar.xz">ktp-accounts-kcm-23.04.0</a></td>
   <td align="right">271kB</td>
   <td><tt>6c6f22ff8353052720d8a019c19f308464d65fa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-approver-23.04.0.tar.xz">ktp-approver-23.04.0</a></td>
   <td align="right">38kB</td>
   <td><tt>ebc6f1cdb98c69438d82f1ed25da8cb486326b2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-auth-handler-23.04.0.tar.xz">ktp-auth-handler-23.04.0</a></td>
   <td align="right">47kB</td>
   <td><tt>87f8265dc33f8d6b9bba97f0e8d628f96451101a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-call-ui-23.04.0.tar.xz">ktp-call-ui-23.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>a562c0795b3d7f006712f8acaee9b7eb2fddf2e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-common-internals-23.04.0.tar.xz">ktp-common-internals-23.04.0</a></td>
   <td align="right">448kB</td>
   <td><tt>ec1a40e6cea24bbc51ee662b902b6ac5b741f63d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-contact-list-23.04.0.tar.xz">ktp-contact-list-23.04.0</a></td>
   <td align="right">156kB</td>
   <td><tt>6a40dfc107d11cc5a2d6105d8f54178137ae12cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-contact-runner-23.04.0.tar.xz">ktp-contact-runner-23.04.0</a></td>
   <td align="right">44kB</td>
   <td><tt>79f8f7cb7779c79b1a2f36b1901816968daa7a87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-desktop-applets-23.04.0.tar.xz">ktp-desktop-applets-23.04.0</a></td>
   <td align="right">44kB</td>
   <td><tt>32f9007032d403611ba8363b915ab00dde54a3d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-filetransfer-handler-23.04.0.tar.xz">ktp-filetransfer-handler-23.04.0</a></td>
   <td align="right">46kB</td>
   <td><tt>53ff78e623c5577fbff12150e0997d82893ce5f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-kded-module-23.04.0.tar.xz">ktp-kded-module-23.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>c89d8e1680d129aef79240c6d71aeed0bd42aa07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-send-file-23.04.0.tar.xz">ktp-send-file-23.04.0</a></td>
   <td align="right">29kB</td>
   <td><tt>a62e0649a52fa0570338685e71ac1cab108b4b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktp-text-ui-23.04.0.tar.xz">ktp-text-ui-23.04.0</a></td>
   <td align="right">475kB</td>
   <td><tt>9f1c8fd1ff950b3aa4bc995a47e31661cbf900f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktrip-23.04.0.tar.xz">ktrip-23.04.0</a></td>
   <td align="right">246kB</td>
   <td><tt>ee90d7a5018af13308ff641fe23676688ffbf20a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/ktuberling-23.04.0.tar.xz">ktuberling-23.04.0</a></td>
   <td align="right">69728kB</td>
   <td><tt>9ff78a4fd9911e7c6425747c0b1eae85f8de0ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kturtle-23.04.0.tar.xz">kturtle-23.04.0</a></td>
   <td align="right">1954kB</td>
   <td><tt>281a7f640427e15078869d94a58371cf3c11004a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kubrick-23.04.0.tar.xz">kubrick-23.04.0</a></td>
   <td align="right">340kB</td>
   <td><tt>351e219fc834e4109fa11b61ec661a15b4cd7190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kwalletmanager-23.04.0.tar.xz">kwalletmanager-23.04.0</a></td>
   <td align="right">830kB</td>
   <td><tt>c99d8129636a21b4b68fb44cc5656c3ec3527efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kwave-23.04.0.tar.xz">kwave-23.04.0</a></td>
   <td align="right">6800kB</td>
   <td><tt>08d960e0c768037ad2f9a23cc810b0179185f997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kweather-23.04.0.tar.xz">kweather-23.04.0</a></td>
   <td align="right">994kB</td>
   <td><tt>8a13e79336d4257741514bac00dc9e670d5d240b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/kwordquiz-23.04.0.tar.xz">kwordquiz-23.04.0</a></td>
   <td align="right">4162kB</td>
   <td><tt>d41b2eadfe1fdd01e70f397c2265e863337c2e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libgravatar-23.04.0.tar.xz">libgravatar-23.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>daa23e3abb9d9616535938085ff016193c024e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkcddb-23.04.0.tar.xz">libkcddb-23.04.0</a></td>
   <td align="right">447kB</td>
   <td><tt>c94a294e3440efc73406f0a6b3882d4e48206ac5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkcompactdisc-23.04.0.tar.xz">libkcompactdisc-23.04.0</a></td>
   <td align="right">96kB</td>
   <td><tt>482906a4d7a9325d7ffa822c09a2b9c8892c2d43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkdcraw-23.04.0.tar.xz">libkdcraw-23.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>88ac347e24748bd98bf6a8ba61cdaf36f96e8b54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkdegames-23.04.0.tar.xz">libkdegames-23.04.0</a></td>
   <td align="right">5840kB</td>
   <td><tt>6d1e1a999b86860e785f51cd026886a3d1c2d2ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkdepim-23.04.0.tar.xz">libkdepim-23.04.0</a></td>
   <td align="right">279kB</td>
   <td><tt>394b64b7d23c435c7eaa8386f5a83adf97bdbb02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkeduvocdocument-23.04.0.tar.xz">libkeduvocdocument-23.04.0</a></td>
   <td align="right">224kB</td>
   <td><tt>8120cc1583241799382622e8c25a08fc6de084d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkexiv2-23.04.0.tar.xz">libkexiv2-23.04.0</a></td>
   <td align="right">58kB</td>
   <td><tt>d0da86afa13e01d05ee4c448d2310f771e6b26dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkgapi-23.04.0.tar.xz">libkgapi-23.04.0</a></td>
   <td align="right">325kB</td>
   <td><tt>255816e4c96fa4279539bf16906e58af0d629cbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkipi-23.04.0.tar.xz">libkipi-23.04.0</a></td>
   <td align="right">86kB</td>
   <td><tt>a7bbcc61dbb3917badd12ed60b2f136e4224b8ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkleo-23.04.0.tar.xz">libkleo-23.04.0</a></td>
   <td align="right">501kB</td>
   <td><tt>24e1d36986c7a4374af7914e0f36824d14804ee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkmahjongg-23.04.0.tar.xz">libkmahjongg-23.04.0</a></td>
   <td align="right">1647kB</td>
   <td><tt>17f6c937981dd2a3bc42af8973ddd0121eb3453f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libkomparediff2-23.04.0.tar.xz">libkomparediff2-23.04.0</a></td>
   <td align="right">181kB</td>
   <td><tt>c9b215baf50aca9cd2fb43c6fe1c50dc8a1e6ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libksane-23.04.0.tar.xz">libksane-23.04.0</a></td>
   <td align="right">151kB</td>
   <td><tt>7363a5462ac70c85a1ad917ce70d15c3ed2c14e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libksieve-23.04.0.tar.xz">libksieve-23.04.0</a></td>
   <td align="right">542kB</td>
   <td><tt>068b15b37a91c049f67aa6de035f47c2eb172385</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/libktorrent-23.04.0.tar.xz">libktorrent-23.04.0</a></td>
   <td align="right">589kB</td>
   <td><tt>1198e3fb6bdfec4ad772deef691f5818e84232b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/lokalize-23.04.0.tar.xz">lokalize-23.04.0</a></td>
   <td align="right">2066kB</td>
   <td><tt>40ed1d924618b90e8b5ecaac37c81c716ed56bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/lskat-23.04.0.tar.xz">lskat-23.04.0</a></td>
   <td align="right">1220kB</td>
   <td><tt>e15c88c6f4ee829efe5c64016374ed2aa7e0fc84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/mailcommon-23.04.0.tar.xz">mailcommon-23.04.0</a></td>
   <td align="right">740kB</td>
   <td><tt>86a8e845d172d907e43fb8aab4922bcee2e859bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/mailimporter-23.04.0.tar.xz">mailimporter-23.04.0</a></td>
   <td align="right">577kB</td>
   <td><tt>806ba17b8bb9f14163523ea0409160d4272e207a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/marble-23.04.0.tar.xz">marble-23.04.0</a></td>
   <td align="right">52501kB</td>
   <td><tt>3550f71bd23625f44e82ef549263ada3daa1bb52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/markdownpart-23.04.0.tar.xz">markdownpart-23.04.0</a></td>
   <td align="right">30kB</td>
   <td><tt>fffc35c2fb25d6349ac8415b31b8337dd1bdcae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/mbox-importer-23.04.0.tar.xz">mbox-importer-23.04.0</a></td>
   <td align="right">29kB</td>
   <td><tt>6b0c65a054599ba05d34de612529a11d990a7459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/messagelib-23.04.0.tar.xz">messagelib-23.04.0</a></td>
   <td align="right">11043kB</td>
   <td><tt>643618fd7713302a5ec8b8ee5e6cca8917b59271</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/minuet-23.04.0.tar.xz">minuet-23.04.0</a></td>
   <td align="right">27035kB</td>
   <td><tt>3272efc39b0284d6652295aba1852830d98233f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/neochat-23.04.0.tar.xz">neochat-23.04.0</a></td>
   <td align="right">552kB</td>
   <td><tt>eff54a7dd1492601886c23721f215581ac927783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/okular-23.04.0.tar.xz">okular-23.04.0</a></td>
   <td align="right">8279kB</td>
   <td><tt>f096932a493ae2df11a3feb7e2b1eb67a0ebd41f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/palapeli-23.04.0.tar.xz">palapeli-23.04.0</a></td>
   <td align="right">2061kB</td>
   <td><tt>a7688098991c6ef906ea4c9022007e330c71fb06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/parley-23.04.0.tar.xz">parley-23.04.0</a></td>
   <td align="right">8393kB</td>
   <td><tt>38cd74e3f4bdcb3273c515c3fa8dd972f56ae4be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/partitionmanager-23.04.0.tar.xz">partitionmanager-23.04.0</a></td>
   <td align="right">2092kB</td>
   <td><tt>0ab0f697e920f7c25720202016645f48205e06ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/picmi-23.04.0.tar.xz">picmi-23.04.0</a></td>
   <td align="right">1504kB</td>
   <td><tt>522486b17fcf50bb0499b85f5354b48cfd8c4c6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/pimcommon-23.04.0.tar.xz">pimcommon-23.04.0</a></td>
   <td align="right">337kB</td>
   <td><tt>8cd41517f3a97bb4cd04f3cf9fcd9b79403ce43e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/pim-data-exporter-23.04.0.tar.xz">pim-data-exporter-23.04.0</a></td>
   <td align="right">415kB</td>
   <td><tt>72ab093fc127c7834ee7e579fb528ec8882ce18b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/pim-sieve-editor-23.04.0.tar.xz">pim-sieve-editor-23.04.0</a></td>
   <td align="right">453kB</td>
   <td><tt>97791b09e8de36e1970067af728ec0b132cd0539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/plasmatube-23.04.0.tar.xz">plasmatube-23.04.0</a></td>
   <td align="right">77kB</td>
   <td><tt>1791e8d32c906be44faaf96bd3267be7aed6577f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/poxml-23.04.0.tar.xz">poxml-23.04.0</a></td>
   <td align="right">43kB</td>
   <td><tt>bf97503e74c6fc391bfac909f18264833c1b5c02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/print-manager-23.04.0.tar.xz">print-manager-23.04.0</a></td>
   <td align="right">282kB</td>
   <td><tt>088e6d78d0a86f9bf7c691f5c5624477e11d68bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/qmlkonsole-23.04.0.tar.xz">qmlkonsole-23.04.0</a></td>
   <td align="right">65kB</td>
   <td><tt>7d48d853de46ad91992c14942b8d7e2ba73ec9c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/rocs-23.04.0.tar.xz">rocs-23.04.0</a></td>
   <td align="right">1532kB</td>
   <td><tt>6fda28eb7bb4c12175d565b1d2abce11223b4647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/signon-kwallet-extension-23.04.0.tar.xz">signon-kwallet-extension-23.04.0</a></td>
   <td align="right">10kB</td>
   <td><tt>cc24ae4544a5d1110c1411db7a29f825b0fd6003</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/skanlite-23.04.0.tar.xz">skanlite-23.04.0</a></td>
   <td align="right">2392kB</td>
   <td><tt>afed8bfcd540eadd279939c978a0591ac535ced5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/skanpage-23.04.0.tar.xz">skanpage-23.04.0</a></td>
   <td align="right">1267kB</td>
   <td><tt>d1892b322424f4c3c5da0094289548e2fcf33808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/spectacle-23.04.0.tar.xz">spectacle-23.04.0</a></td>
   <td align="right">1307kB</td>
   <td><tt>eb4ea7560bf95d136eb55ee4888a0702ae24173a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/step-23.04.0.tar.xz">step-23.04.0</a></td>
   <td align="right">960kB</td>
   <td><tt>92a421658b545fd1203777801fa562bb64546cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/svgpart-23.04.0.tar.xz">svgpart-23.04.0</a></td>
   <td align="right">27kB</td>
   <td><tt>31d2357d8b65140042b51cf79551bea02a71b3e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/sweeper-23.04.0.tar.xz">sweeper-23.04.0</a></td>
   <td align="right">389kB</td>
   <td><tt>6b670fb46d016b97ab10021a9a3b3be26237dcb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/telly-skout-23.04.0.tar.xz">telly-skout-23.04.0</a></td>
   <td align="right">92kB</td>
   <td><tt>7cbbf2ff0b8351a8abd7a2942f37498a8d35e32e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/tokodon-23.04.0.tar.xz">tokodon-23.04.0</a></td>
   <td align="right">224kB</td>
   <td><tt>ba29c4943df305f801d88868137a408cf1f72bc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/umbrello-23.04.0.tar.xz">umbrello-23.04.0</a></td>
   <td align="right">5638kB</td>
   <td><tt>bddb93922df8b4e9cc33bafe781f806a3dab1d17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/yakuake-23.04.0.tar.xz">yakuake-23.04.0</a></td>
   <td align="right">418kB</td>
   <td><tt>49e1d73cd010b317a15bb37f0eea6abde82405d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.0/src/zanshin-23.04.0.tar.xz">zanshin-23.04.0</a></td>
   <td align="right">341kB</td>
   <td><tt>e6ed0d1e54f960b65f2dd9ad7d6653e0a61c859e</tt></td>
</tr>

</table>
