<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/bluedevil-5.6.5.tar.xz">bluedevil-5.6.5</a></td>
   <td align="right">168kB</td>
   <td><tt>1ddac54394a5eb94c1c0be03a2f04a9839676d354546f52f132f0d5005a8c97d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/breeze-5.6.5.tar.xz">breeze-5.6.5</a></td>
   <td align="right">18MB</td>
   <td><tt>ed9fb6ea6b47b869216deda2f4ddfd0e0a81073c54538325581fc978618fff73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/breeze-grub-5.6.5.tar.xz">breeze-grub-5.6.5</a></td>
   <td align="right">150kB</td>
   <td><tt>e824538a9a1018c5f90322bae2cb80d2e6c0c7fbfa5a0d4ac0129516f14219ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/breeze-gtk-5.6.5.tar.xz">breeze-gtk-5.6.5</a></td>
   <td align="right">251kB</td>
   <td><tt>7b313a31b1aac9dcbb6a0d73c76dd7eaea5c410a6eb267d6d52126c42508854c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/breeze-plymouth-5.6.5.tar.xz">breeze-plymouth-5.6.5</a></td>
   <td align="right">60kB</td>
   <td><tt>57328155ac14bb660ac0af2b676720635e4c9d5113cc81485272516fc4d85215</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/discover-5.6.5.tar.xz">discover-5.6.5</a></td>
   <td align="right">847kB</td>
   <td><tt>720fe70d7648acaf9ee2a5777918091f765ebcf54836d52465bacc2406a6b2cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kactivitymanagerd-5.6.5.tar.xz">kactivitymanagerd-5.6.5</a></td>
   <td align="right">82kB</td>
   <td><tt>7029b027c0ea2ee620cc254d8c69177b30e3c996b09add53e16b51750df411d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kde-cli-tools-5.6.5.tar.xz">kde-cli-tools-5.6.5</a></td>
   <td align="right">493kB</td>
   <td><tt>73021303bb5a44573a539ba99a3e687dec68acc435190615b1020876e564b43a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kdecoration-5.6.5.tar.xz">kdecoration-5.6.5</a></td>
   <td align="right">34kB</td>
   <td><tt>e1eab1c2c495a67ff2ffa4e170e061f333bdf6b22c1e489b4eae845e6e148a20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kde-gtk-config-5.6.5.tar.xz">kde-gtk-config-5.6.5</a></td>
   <td align="right">160kB</td>
   <td><tt>9dc2d144295eb0a1a890f135d39f18d9605daf94aeda0bf7689e47acc22fd31a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kdeplasma-addons-5.6.5.tar.xz">kdeplasma-addons-5.6.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7f9690b407e44c2fa1d7dbe7fbea6606ee9801a6e201da245bad38a1f2be32a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kgamma5-5.6.5.tar.xz">kgamma5-5.6.5</a></td>
   <td align="right">70kB</td>
   <td><tt>dc06a855dc6b2916728fa8f5b86068b7b7b23aaa238eca547f86fe36a90a2c62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/khotkeys-5.6.5.tar.xz">khotkeys-5.6.5</a></td>
   <td align="right">653kB</td>
   <td><tt>8adebc7dacf0c74d23eddd66a6ea8f16697d59020d09f9b6a9f68abd62bb4dff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kinfocenter-5.6.5.tar.xz">kinfocenter-5.6.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9425fde6d1f92940a85449d01de6521c963c2ebf7b30b79f31c3f4b8e65629b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kmenuedit-5.6.5.tar.xz">kmenuedit-5.6.5</a></td>
   <td align="right">689kB</td>
   <td><tt>0f2ebdde8182a5b4f3e32b993e67a3e9c0a8aea685ab3339b477417dc0aab6bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kscreen-5.6.5.tar.xz">kscreen-5.6.5</a></td>
   <td align="right">119kB</td>
   <td><tt>f9f301bde43c1171b7064834fad144bdc5df9b5882133f5a94c7dc5d27709699</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kscreenlocker-5.6.5.tar.xz">kscreenlocker-5.6.5</a></td>
   <td align="right">101kB</td>
   <td><tt>c6f0befcd230ec58f2994cad8c2f322f223e7422cfe33e641c664938e7960b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/ksshaskpass-5.6.5.tar.xz">ksshaskpass-5.6.5</a></td>
   <td align="right">24kB</td>
   <td><tt>6a135876351314b3de565ab6e4d0d5753749045b9789373ffb2c754fd55152e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/ksysguard-5.6.5.tar.xz">ksysguard-5.6.5</a></td>
   <td align="right">601kB</td>
   <td><tt>589644d5a9ba6040c38bf21a942cfbcb5cfe1254d6e09563dea7bca225c2244a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kwallet-pam-5.6.5.tar.xz">kwallet-pam-5.6.5</a></td>
   <td align="right">17kB</td>
   <td><tt>f58dbd266ac166164a137878c5e69c0cf8a8693ce17d45a7d94b29cb67c2a229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kwayland-5.6.5.tar.xz">kwayland-5.6.5</a></td>
   <td align="right">164kB</td>
   <td><tt>691948c8d9d5e44d2fecfe5af28c42802e8ab8bd575a40d002d437795e612ada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kwayland-integration-5.6.5.tar.xz">kwayland-integration-5.6.5</a></td>
   <td align="right">16kB</td>
   <td><tt>f054e10afe855e743b01eccdea90f6a33bbb549acf2eb20a0e296061406ac6e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kwin-5.6.5.tar.xz">kwin-5.6.5</a></td>
   <td align="right">3.7MB</td>
   <td><tt>e4c358f828d9c30b7067f32a9efb515b99f6c8a9d16c116b13b1f271464d7884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/kwrited-5.6.5.tar.xz">kwrited-5.6.5</a></td>
   <td align="right">19kB</td>
   <td><tt>394c810af70211f6205e462581409c5bb8e9e7cc5aafbe1318579191d7152aa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/libkscreen-5.6.5.tar.xz">libkscreen-5.6.5</a></td>
   <td align="right">81kB</td>
   <td><tt>199227873bae459176deb7ba515d533f6554f7c6c9126507e9a7df598b64a198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/libksysguard-5.6.5.tar.xz">libksysguard-5.6.5</a></td>
   <td align="right">683kB</td>
   <td><tt>4c2647a63ab22c124ac2fd7fb341b73977dec5e1bf31c1c3e015b72675771011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/milou-5.6.5.tar.xz">milou-5.6.5</a></td>
   <td align="right">55kB</td>
   <td><tt>ae6f9e8f9576d08c31b6b1a525f1b4e11c8e589e6176d7718dd9162d6f3bd318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/oxygen-5.6.5.tar.xz">oxygen-5.6.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>2c281c6f1aa2f04e90f79f7985d8af90a10b4b35be19523f44b91bdf0f491f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/plasma-desktop-5.6.5.tar.xz">plasma-desktop-5.6.5</a></td>
   <td align="right">6.0MB</td>
   <td><tt>66ba27aec488ca4f1bce30295af696439c32d9dc2512f30f6479ee18abb7bbd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/plasma-integration-5.6.5.tar.xz">plasma-integration-5.6.5</a></td>
   <td align="right">51kB</td>
   <td><tt>40e8716f3472d1a2b22bc44d51d76901c8ce0606e7587b549584cb7e9e1c87e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/plasma-mediacenter-5.6.5.tar.xz">plasma-mediacenter-5.6.5</a></td>
   <td align="right">170kB</td>
   <td><tt>8620f70e66455fbc404719bfd6d94d5f662584bde00102466986cd0d31fedc14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/plasma-nm-5.6.5.tar.xz">plasma-nm-5.6.5</a></td>
   <td align="right">631kB</td>
   <td><tt>00a9a15ede8462d34926ae05040e570f7d37f31a4972db233ae456430d68b9b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/plasma-pa-5.6.5.tar.xz">plasma-pa-5.6.5</a></td>
   <td align="right">59kB</td>
   <td><tt>000a43b6c4c39ff67a28ee21089ea3389b33ab788121a32e0f716f28791d64a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/plasma-sdk-5.6.5.tar.xz">plasma-sdk-5.6.5</a></td>
   <td align="right">688kB</td>
   <td><tt>c8fa4d107b43e9c64c65a20ff2f87ba4b3a0619c5821a46f9b1c10e70658226d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/plasma-workspace-5.6.5.tar.xz">plasma-workspace-5.6.5</a></td>
   <td align="right">6.6MB</td>
   <td><tt>459e7d361551437007620fd4d05cc7252cbc85e039fa824899832ebcb7ad1495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/plasma-workspace-wallpapers-5.6.5.tar.xz">plasma-workspace-wallpapers-5.6.5</a></td>
   <td align="right">43MB</td>
   <td><tt>5946ce0fe03f5fa84004b72d8d0b97ba8c00c44b8478857282082adc95c67ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/polkit-kde-agent-1-5.6.5.tar.xz">polkit-kde-agent-1-5.6.5</a></td>
   <td align="right">49kB</td>
   <td><tt>503532b52ef50c5ccfeecdd239218f2cecc8501fc5aceb18606a18925dfff5b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/powerdevil-5.6.5.tar.xz">powerdevil-5.6.5</a></td>
   <td align="right">345kB</td>
   <td><tt>6761a3044e94f65ede54e14f0c548eb4b3ced9a4a9499935f33a2e1cc2b0a01f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/sddm-kcm-5.6.5.tar.xz">sddm-kcm-5.6.5</a></td>
   <td align="right">55kB</td>
   <td><tt>7e7ede876c7ae1e0ebc8447d8dcd46ef69404e7d2ecb1d3a18c68f338006221f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/systemsettings-5.6.5.tar.xz">systemsettings-5.6.5</a></td>
   <td align="right">177kB</td>
   <td><tt>35be1e8935451ed63f33c40bf14ff8fd1e402ccf8c47e7e959592d7433c2e307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.5/user-manager-5.6.5.tar.xz">user-manager-5.6.5</a></td>
   <td align="right">70kB</td>
   <td><tt>fe649fbed6f7a8df0f1706626e76567079ca973e1ac918fc5192673c0566eebb</tt></td>
</tr>

</table>
