
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/attica-5.102.0.tar.xz">attica-5.102.0</a></td>
   <td align="right">67kB</td>
   <td><tt>9c416d7933b67329904b5b7fcae4cf58ecdc4786</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/baloo-5.102.0.tar.xz">baloo-5.102.0</a></td>
   <td align="right">295kB</td>
   <td><tt>88649e36b249724b8759a1715b36f9ca2f60466f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/bluez-qt-5.102.0.tar.xz">bluez-qt-5.102.0</a></td>
   <td align="right">111kB</td>
   <td><tt>7fc0025cdc552a193e21882f710a4643568f522d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/breeze-icons-5.102.0.tar.xz">breeze-icons-5.102.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>773e897870eb280b2c5acce2a2d7cd4c995890f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/extra-cmake-modules-5.102.0.tar.xz">extra-cmake-modules-5.102.0</a></td>
   <td align="right">322kB</td>
   <td><tt>ec3e47a6c6bf89227f4beff4910fe794c97f6095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/frameworkintegration-5.102.0.tar.xz">frameworkintegration-5.102.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4dd3f20b4136fadeab206046051530fa151fac33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kactivities-5.102.0.tar.xz">kactivities-5.102.0</a></td>
   <td align="right">71kB</td>
   <td><tt>cab15c084cb499dba13cfd40c17def77c4cf5c97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kactivities-stats-5.102.0.tar.xz">kactivities-stats-5.102.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b164baad422e72cebda992789ee58bc2c8f2c443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kapidox-5.102.0.tar.xz">kapidox-5.102.0</a></td>
   <td align="right">194kB</td>
   <td><tt>cf4bcd54ab9d97e5f668efd4daa9e66be5376e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/karchive-5.102.0.tar.xz">karchive-5.102.0</a></td>
   <td align="right">983kB</td>
   <td><tt>a33274f435223eee717435d458f4b14d73c929c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kauth-5.102.0.tar.xz">kauth-5.102.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0c7d97d2f4229aff78b52d8b85cc9b12bc87d734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kbookmarks-5.102.0.tar.xz">kbookmarks-5.102.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2d336a7b7d5a145cce852fba2dd896ffd5d49040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kcalendarcore-5.102.0.tar.xz">kcalendarcore-5.102.0</a></td>
   <td align="right">261kB</td>
   <td><tt>6a5909c87293e634cd7b938e1b965c1cad6a8e4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kcmutils-5.102.0.tar.xz">kcmutils-5.102.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>62f2241e53dfe4eb556a7e141b9bc234a996dbec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kcodecs-5.102.0.tar.xz">kcodecs-5.102.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d381c31020231e86d90a218cbf4f1a4c6eb66952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kcompletion-5.102.0.tar.xz">kcompletion-5.102.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f732904df7ebe67ab7b9a6ba23758052c9ecd3f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kconfig-5.102.0.tar.xz">kconfig-5.102.0</a></td>
   <td align="right">284kB</td>
   <td><tt>65370e4e2a7cf9ce308072672955a2470de36c8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kconfigwidgets-5.102.0.tar.xz">kconfigwidgets-5.102.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>72348b685d529e03fd3b20d5a8e50657aaecbf87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kcontacts-5.102.0.tar.xz">kcontacts-5.102.0</a></td>
   <td align="right">208kB</td>
   <td><tt>91f42220f1a99c498374cfebff4aa72c560043a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kcoreaddons-5.102.0.tar.xz">kcoreaddons-5.102.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>badaa289d1e7bb8510b0bedc247088f6a4bb5f6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kcrash-5.102.0.tar.xz">kcrash-5.102.0</a></td>
   <td align="right">27kB</td>
   <td><tt>28bbb65718bc7e2d82364690656c5848936f1c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kdav-5.102.0.tar.xz">kdav-5.102.0</a></td>
   <td align="right">64kB</td>
   <td><tt>c304f0acb7a66e70619d26e371796f18249b5e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kdbusaddons-5.102.0.tar.xz">kdbusaddons-5.102.0</a></td>
   <td align="right">47kB</td>
   <td><tt>fd86c9827be1bd7bee95755d10c0daac2ee4ac6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kdeclarative-5.102.0.tar.xz">kdeclarative-5.102.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>084176fe125b4c7033d08b7ffdf01cbd7338ddbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kded-5.102.0.tar.xz">kded-5.102.0</a></td>
   <td align="right">40kB</td>
   <td><tt>b0b66f5f158dc98930c1e9bb4a24b75d5a359509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kdesu-5.102.0.tar.xz">kdesu-5.102.0</a></td>
   <td align="right">55kB</td>
   <td><tt>f265075fc72604475b1da21d94939a23f105d8c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kdnssd-5.102.0.tar.xz">kdnssd-5.102.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>873168e75b8b2cee65da9ecb1d0e542b61a98e54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kdoctools-5.102.0.tar.xz">kdoctools-5.102.0</a></td>
   <td align="right">452kB</td>
   <td><tt>810ed57f95656619166daaa6121254445101290d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kemoticons-5.102.0.tar.xz">kemoticons-5.102.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c9817b63228349107cdb90a03aef8d65af99c2b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kfilemetadata-5.102.0.tar.xz">kfilemetadata-5.102.0</a></td>
   <td align="right">458kB</td>
   <td><tt>9326769958905d6e17c948e1a522a1c7133ceaac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kglobalaccel-5.102.0.tar.xz">kglobalaccel-5.102.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>95d26fb2ac0776e6abeb83ca3a57d0685b3302ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kguiaddons-5.102.0.tar.xz">kguiaddons-5.102.0</a></td>
   <td align="right">76kB</td>
   <td><tt>77f1a62e402351c0e31025618248d1fefe81aeb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kholidays-5.102.0.tar.xz">kholidays-5.102.0</a></td>
   <td align="right">246kB</td>
   <td><tt>f2d74ebf0684ee8c6a2027f70a59a1a7fe1c9eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/ki18n-5.102.0.tar.xz">ki18n-5.102.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>fb6539702c6ba55944af214d60fce5054f8ceb48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kiconthemes-5.102.0.tar.xz">kiconthemes-5.102.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>3d8e76b507e1e3ac83687121a7ae5627ddd6e80b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kidletime-5.102.0.tar.xz">kidletime-5.102.0</a></td>
   <td align="right">30kB</td>
   <td><tt>d77fb450c6fcc4591c1a49c21e5ec5a4f977126b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kimageformats-5.102.0.tar.xz">kimageformats-5.102.0</a></td>
   <td align="right">12MB</td>
   <td><tt>7ed3d103227014549b52075c9b8495695235d236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kinit-5.102.0.tar.xz">kinit-5.102.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c04cc8e77995db1060f0cfcb5525ee9315f3993b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kio-5.102.0.tar.xz">kio-5.102.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>0f36c32d41a3a027eaa753eee52d0fba4fd1e16f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kirigami2-5.102.0.tar.xz">kirigami2-5.102.0</a></td>
   <td align="right">362kB</td>
   <td><tt>6c15e6c175e82e42eb78efae1fc41de3436636ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kitemmodels-5.102.0.tar.xz">kitemmodels-5.102.0</a></td>
   <td align="right">397kB</td>
   <td><tt>f3f173312f8a6ce58e210786831ecfef96732b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kitemviews-5.102.0.tar.xz">kitemviews-5.102.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>fd38c077d025596ce5dd59e381f54f99707e8705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kjobwidgets-5.102.0.tar.xz">kjobwidgets-5.102.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>f47edff0fa95a92e9a410d492b26c51c8889906f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/knewstuff-5.102.0.tar.xz">knewstuff-5.102.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>d01ad738ebb73218a3d0302371a66c4176fe590f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/knotifications-5.102.0.tar.xz">knotifications-5.102.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>aa1a95292eed33e92667fffc262ece09df9b83b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/knotifyconfig-5.102.0.tar.xz">knotifyconfig-5.102.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1b5f223ac397381d73b2a369f6cd16fea07afdfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kpackage-5.102.0.tar.xz">kpackage-5.102.0</a></td>
   <td align="right">182kB</td>
   <td><tt>75cf2f3b4267270f83ec2bc8f206272380948526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kparts-5.102.0.tar.xz">kparts-5.102.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2e944af578e17a9991c2969363d0406612b9e4cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kpeople-5.102.0.tar.xz">kpeople-5.102.0</a></td>
   <td align="right">61kB</td>
   <td><tt>273411608df5f98a8b14a234d5ecedffa9911bd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kplotting-5.102.0.tar.xz">kplotting-5.102.0</a></td>
   <td align="right">32kB</td>
   <td><tt>36af898716105b88ecb0cfecaacf5d3d18753f2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kpty-5.102.0.tar.xz">kpty-5.102.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3c1f1ab05405c3c2406103150afafc5f3fee20e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kquickcharts-5.102.0.tar.xz">kquickcharts-5.102.0</a></td>
   <td align="right">110kB</td>
   <td><tt>72a47732aa96fe15d7d6444231add233cd177dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/krunner-5.102.0.tar.xz">krunner-5.102.0</a></td>
   <td align="right">86kB</td>
   <td><tt>4497e4e5d6a7d9d570e1a51fd853fdf3bfa3137d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kservice-5.102.0.tar.xz">kservice-5.102.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>374a0df5c0ff22be83cf620902790b83749b3509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/ktexteditor-5.102.0.tar.xz">ktexteditor-5.102.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>05017e3172b804c3a88381dfbddd90b82444e53b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/ktextwidgets-5.102.0.tar.xz">ktextwidgets-5.102.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8c3fdcc5169b9e867a8d8745f1868c2d480d7f93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kunitconversion-5.102.0.tar.xz">kunitconversion-5.102.0</a></td>
   <td align="right">894kB</td>
   <td><tt>058c3d470c41a6f91076216d61d76c8973352dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kwallet-5.102.0.tar.xz">kwallet-5.102.0</a></td>
   <td align="right">339kB</td>
   <td><tt>87abe770980b732273ed676789c6460d96a4fd28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kwayland-5.102.0.tar.xz">kwayland-5.102.0</a></td>
   <td align="right">328kB</td>
   <td><tt>4c79b5a212f2536948db27fc0dce2717b760b38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kwidgetsaddons-5.102.0.tar.xz">kwidgetsaddons-5.102.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>dc1e88c81e3aed4486b23c7b56e4f576daae6b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kwindowsystem-5.102.0.tar.xz">kwindowsystem-5.102.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>fca9c9bdc9266eeb571fdd7f3555924c9367f63d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/kxmlgui-5.102.0.tar.xz">kxmlgui-5.102.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>793af5904de017a8bc0b6066cecf8d62729e8686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/modemmanager-qt-5.102.0.tar.xz">modemmanager-qt-5.102.0</a></td>
   <td align="right">118kB</td>
   <td><tt>a1fdf216121d81f6220db1cab8c77566fe925242</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/networkmanager-qt-5.102.0.tar.xz">networkmanager-qt-5.102.0</a></td>
   <td align="right">193kB</td>
   <td><tt>bbc7784099e0578928f1e394902165a265faf0e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/oxygen-icons5-5.102.0.tar.xz">oxygen-icons5-5.102.0</a></td>
   <td align="right">227MB</td>
   <td><tt>9fb2c6129e8bbb2fdfe76efa718fc4ecfbe0a0ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/plasma-framework-5.102.0.tar.xz">plasma-framework-5.102.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>497ed73caa2b55452058a64d49766a080c715f32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/prison-5.102.0.tar.xz">prison-5.102.0</a></td>
   <td align="right">53kB</td>
   <td><tt>69dcb7881e1c92b9349f34873abd3e48ebfcd715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/purpose-5.102.0.tar.xz">purpose-5.102.0</a></td>
   <td align="right">172kB</td>
   <td><tt>8c35a18895d34b15961cb1ea7e31fe01a1703599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/qqc2-desktop-style-5.102.0.tar.xz">qqc2-desktop-style-5.102.0</a></td>
   <td align="right">66kB</td>
   <td><tt>4c18ace47a924c4c3493a8213aedccafe6fbb8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/solid-5.102.0.tar.xz">solid-5.102.0</a></td>
   <td align="right">296kB</td>
   <td><tt>66785bec547ec3c9b90f9bdedd00878c9f4c8f35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/sonnet-5.102.0.tar.xz">sonnet-5.102.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b79c9412e72fc83587561afadca4715f74142a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/syndication-5.102.0.tar.xz">syndication-5.102.0</a></td>
   <td align="right">498kB</td>
   <td><tt>f4280924638c4e9c3178cf5046909f9ccd9909ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/syntax-highlighting-5.102.0.tar.xz">syntax-highlighting-5.102.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>b81beff1deebda0514a2c9ee6a512d42f725a49f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.102/threadweaver-5.102.0.tar.xz">threadweaver-5.102.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>efe69988ed9e7c18bb589b006b647e12cc6b03fc</tt></td>
</tr>

</table>
