{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{- $params := dict -}}
{{- with .Get "poster" }}{{ $params = merge $params (dict "poster" .) }}{{ end -}}
{{- with .Get "webm" }}{{ $params = merge $params (dict "webm" .) }}{{ end -}}
{{- with .Get "mp4" }}{{ $params = merge $params (dict "mp4" .) }}{{ end -}}
{{- with .Get "ogb" }}{{ $params = merge $params (dict "ogb" .) }}{{ end -}}
{{- with .Get "caption" }}{{ $params = merge $params (dict "caption" .) }}{{ end -}}
{{- with .Get "muted" }}{{ $params = merge $params (dict "muted" .) }}{{ end -}}
<div class="feature {{ with .Get "direction" }}direction-{{ . }}{{ end }}">
  <div class="feature-video">
    {{- partial "video.html" $params -}}
  </div>
  <div>
    {{ .Inner | $.Page.RenderString }}
  </div>
</div>
