<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/akonadi-20.04.0.tar.xz">akonadi-20.04.0</a></td>
   <td align="right">1547kB</td>
   <td><tt>e665a39526844c36c60d96780c97de63341b91c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/akonadi-calendar-20.04.0.tar.xz">akonadi-calendar-20.04.0</a></td>
   <td align="right">323kB</td>
   <td><tt>cecbbf5d5333bcb30bffd63846540944f9410c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/akonadi-calendar-tools-20.04.0.tar.xz">akonadi-calendar-tools-20.04.0</a></td>
   <td align="right">219kB</td>
   <td><tt>0698434dadcb0cc0d2015dd1ff850431a6c95fa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/akonadiconsole-20.04.0.tar.xz">akonadiconsole-20.04.0</a></td>
   <td align="right">189kB</td>
   <td><tt>350078e8dd1acfda232f2a993040879a525c7c45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/akonadi-contacts-20.04.0.tar.xz">akonadi-contacts-20.04.0</a></td>
   <td align="right">384kB</td>
   <td><tt>946d828a3673a1ac0835f7b9a20fe971124b617c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/akonadi-import-wizard-20.04.0.tar.xz">akonadi-import-wizard-20.04.0</a></td>
   <td align="right">428kB</td>
   <td><tt>b98e44513924a4ac6164eb001cb068bf1205287c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/akonadi-mime-20.04.0.tar.xz">akonadi-mime-20.04.0</a></td>
   <td align="right">128kB</td>
   <td><tt>46611ab3ef6667bfeb3bb6f4fbeb86123735b6f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/akonadi-notes-20.04.0.tar.xz">akonadi-notes-20.04.0</a></td>
   <td align="right">23kB</td>
   <td><tt>e9b275f103c32d5be62c95bf59900cd5ed787f61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/akonadi-search-20.04.0.tar.xz">akonadi-search-20.04.0</a></td>
   <td align="right">81kB</td>
   <td><tt>02e04e59f92755efe54865f9137257246352e389</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/akregator-20.04.0.tar.xz">akregator-20.04.0</a></td>
   <td align="right">2145kB</td>
   <td><tt>9021ad8596c488be58744c3a915d316f8a639131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/analitza-20.04.0.tar.xz">analitza-20.04.0</a></td>
   <td align="right">324kB</td>
   <td><tt>7c4f4ae7e45a3122df290d59c05fcb1ab7c27218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ark-20.04.0.tar.xz">ark-20.04.0</a></td>
   <td align="right">2526kB</td>
   <td><tt>6c8b51c4cd75937a76d3e2882c1908778761afc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/artikulate-20.04.0.tar.xz">artikulate-20.04.0</a></td>
   <td align="right">1052kB</td>
   <td><tt>997d7afaa11f0c19df51ffb8c027ea85ba826d7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/audiocd-kio-20.04.0.tar.xz">audiocd-kio-20.04.0</a></td>
   <td align="right">350kB</td>
   <td><tt>a7465ed4c7226f53b53350fea4d063457d6de6f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/baloo-widgets-20.04.0.tar.xz">baloo-widgets-20.04.0</a></td>
   <td align="right">255kB</td>
   <td><tt>e0b88e8947e5e8f30a00a3c376391a5e42df172a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/blinken-20.04.0.tar.xz">blinken-20.04.0</a></td>
   <td align="right">2754kB</td>
   <td><tt>a084739c25e62148e17ee689b8953ae7a557ad60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/bomber-20.04.0.tar.xz">bomber-20.04.0</a></td>
   <td align="right">801kB</td>
   <td><tt>33b4306da8f52c63e13f5b8a29aa493daf6c681f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/bovo-20.04.0.tar.xz">bovo-20.04.0</a></td>
   <td align="right">195kB</td>
   <td><tt>0b1f7a72965729aabc3f425b9033a67cea63478f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/calendarsupport-20.04.0.tar.xz">calendarsupport-20.04.0</a></td>
   <td align="right">636kB</td>
   <td><tt>5abc73a497d5edb4696c2e55e3901e6128f9b4b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/cantor-20.04.0.tar.xz">cantor-20.04.0</a></td>
   <td align="right">8810kB</td>
   <td><tt>bec6cdadb9a6b9168bbba87f1fa2f3f4137b0339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/cervisia-20.04.0.tar.xz">cervisia-20.04.0</a></td>
   <td align="right">1852kB</td>
   <td><tt>8ae8ba53b02d703be7e1ae236f1100a5de933109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/dolphin-20.04.0.tar.xz">dolphin-20.04.0</a></td>
   <td align="right">4685kB</td>
   <td><tt>cf2500586be2b29ce2e5364bbc0caaa841370973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/dolphin-plugins-20.04.0.tar.xz">dolphin-plugins-20.04.0</a></td>
   <td align="right">205kB</td>
   <td><tt>4250fb0af9e336e1a8d10d5e1fc211b06eed9c03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/dragon-20.04.0.tar.xz">dragon-20.04.0</a></td>
   <td align="right">1320kB</td>
   <td><tt>ac85294bc02ac611b475ccf9b6e23c3d1b154702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/elisa-20.04.0.tar.xz">elisa-20.04.0</a></td>
   <td align="right">1372kB</td>
   <td><tt>e2956966955d537aa64893736af022a17a6ab0db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/eventviews-20.04.0.tar.xz">eventviews-20.04.0</a></td>
   <td align="right">433kB</td>
   <td><tt>7aaa64f13757ebe3ecb9e568e6769089054bd326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ffmpegthumbs-20.04.0.tar.xz">ffmpegthumbs-20.04.0</a></td>
   <td align="right">26kB</td>
   <td><tt>d99e72edd5e1658760a3c19d06d0dc307af5fd9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/filelight-20.04.0.tar.xz">filelight-20.04.0</a></td>
   <td align="right">646kB</td>
   <td><tt>5e5c90dadf0b5795fc22392577eb0e9e7d78ee31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/granatier-20.04.0.tar.xz">granatier-20.04.0</a></td>
   <td align="right">1899kB</td>
   <td><tt>3bb0e6b2a11801ac331ff595c929b725cfe9bd91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/grantlee-editor-20.04.0.tar.xz">grantlee-editor-20.04.0</a></td>
   <td align="right">108kB</td>
   <td><tt>c3477b27fccf4d521b622fe5d06c632dad054959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/grantleetheme-20.04.0.tar.xz">grantleetheme-20.04.0</a></td>
   <td align="right">53kB</td>
   <td><tt>29a0f4c8df29c577627d120363040de06dc1c032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/gwenview-20.04.0.tar.xz">gwenview-20.04.0</a></td>
   <td align="right">5606kB</td>
   <td><tt>73fce579a3b73d68ea814cdb62c9aed1d30731fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/incidenceeditor-20.04.0.tar.xz">incidenceeditor-20.04.0</a></td>
   <td align="right">537kB</td>
   <td><tt>c022368dd8623f7293930c63f7a1e147422ba307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/juk-20.04.0.tar.xz">juk-20.04.0</a></td>
   <td align="right">1825kB</td>
   <td><tt>251579d7cc8e2c6e920a7b4ee713dd9569b8b26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/k3b-20.04.0.tar.xz">k3b-20.04.0</a></td>
   <td align="right">10264kB</td>
   <td><tt>1ff84a8552e991f4e5723c922e262385fc7b4343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kaccounts-integration-20.04.0.tar.xz">kaccounts-integration-20.04.0</a></td>
   <td align="right">64kB</td>
   <td><tt>e3be1fdc7514cf40c0145d45dc9e35c70ff22262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kaccounts-providers-20.04.0.tar.xz">kaccounts-providers-20.04.0</a></td>
   <td align="right">35kB</td>
   <td><tt>aa73d0c43d565e56c413311484ef82627622d70b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kaddressbook-20.04.0.tar.xz">kaddressbook-20.04.0</a></td>
   <td align="right">2370kB</td>
   <td><tt>89a6d1d4d9beb1e2dec75474484d4ffa723770a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kajongg-20.04.0.tar.xz">kajongg-20.04.0</a></td>
   <td align="right">4363kB</td>
   <td><tt>ab08d9ad163326dc4584dc62caacd5dae2fd3b90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kalarm-20.04.0.tar.xz">kalarm-20.04.0</a></td>
   <td align="right">1796kB</td>
   <td><tt>5a6d42b749ea27d70cb08bbc8ed3247cac9bbeee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kalarmcal-20.04.0.tar.xz">kalarmcal-20.04.0</a></td>
   <td align="right">561kB</td>
   <td><tt>e1bc5f1c8109e8b90430feef9ff0371d99f039cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kalgebra-20.04.0.tar.xz">kalgebra-20.04.0</a></td>
   <td align="right">1130kB</td>
   <td><tt>b4e577ca9d96b32a0a7dac0638d003e0424662de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kalzium-20.04.0.tar.xz">kalzium-20.04.0</a></td>
   <td align="right">24017kB</td>
   <td><tt>934bef888179ed9a1d8440e073de14d348e99af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kamera-20.04.0.tar.xz">kamera-20.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>d6fc18ec1c707bd444e47114fd7a0da11ed911ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kamoso-20.04.0.tar.xz">kamoso-20.04.0</a></td>
   <td align="right">197kB</td>
   <td><tt>1823067716b6e090554dd2640c334b67bc0f0159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kanagram-20.04.0.tar.xz">kanagram-20.04.0</a></td>
   <td align="right">7838kB</td>
   <td><tt>2d539ced4bf6bda01a842d5cd6d664e99e2f2450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kapman-20.04.0.tar.xz">kapman-20.04.0</a></td>
   <td align="right">2466kB</td>
   <td><tt>4594421dbfc21d39c5dc0a2c4072894a6c488dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kapptemplate-20.04.0.tar.xz">kapptemplate-20.04.0</a></td>
   <td align="right">317kB</td>
   <td><tt>f3f62ed3105f81f7bd31ea9a8b00115f177e2217</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kate-20.04.0.tar.xz">kate-20.04.0</a></td>
   <td align="right">5688kB</td>
   <td><tt>7667fb2395317d08c3e69cd32b36bd5918e32b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/katomic-20.04.0.tar.xz">katomic-20.04.0</a></td>
   <td align="right">1390kB</td>
   <td><tt>347c7a8d83038af6bf1d4f0bb45982c924de7028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kbackup-20.04.0.tar.xz">kbackup-20.04.0</a></td>
   <td align="right">352kB</td>
   <td><tt>063b481da12f54a05dc9182074ebf069459dd16a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kblackbox-20.04.0.tar.xz">kblackbox-20.04.0</a></td>
   <td align="right">436kB</td>
   <td><tt>8d2949830709e6960c155ff2b978bb1ffd335fe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kblocks-20.04.0.tar.xz">kblocks-20.04.0</a></td>
   <td align="right">1862kB</td>
   <td><tt>7a80389c8ee0c7bc83cc9e2cb53e6c1dee7da37f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kblog-20.04.0.tar.xz">kblog-20.04.0</a></td>
   <td align="right">71kB</td>
   <td><tt>a93d7c2f053f5957f173d1f7d27f3ebe7e0a95bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kbounce-20.04.0.tar.xz">kbounce-20.04.0</a></td>
   <td align="right">3386kB</td>
   <td><tt>f6eba1ed4f8cd46ebe7bd6e7628809d73706d798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kbreakout-20.04.0.tar.xz">kbreakout-20.04.0</a></td>
   <td align="right">2226kB</td>
   <td><tt>e91c940471aa5645303bd6b0fb48a3190570bdf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kbruch-20.04.0.tar.xz">kbruch-20.04.0</a></td>
   <td align="right">5474kB</td>
   <td><tt>5c4e78bca69adfb363d640277f8a35851b7b92cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kcachegrind-20.04.0.tar.xz">kcachegrind-20.04.0</a></td>
   <td align="right">791kB</td>
   <td><tt>fc00b4af1d6b2a5dc999612a43e096de4139b337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kcalc-20.04.0.tar.xz">kcalc-20.04.0</a></td>
   <td align="right">365kB</td>
   <td><tt>da8de8aaa3646daeb0cc4473ed06d58c1f868227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kcalutils-20.04.0.tar.xz">kcalutils-20.04.0</a></td>
   <td align="right">313kB</td>
   <td><tt>17a9360af435abd296bbf327197a35406b53ea22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kcharselect-20.04.0.tar.xz">kcharselect-20.04.0</a></td>
   <td align="right">327kB</td>
   <td><tt>fde9d66e97ba694f508eafdb3e931407ce6fc5f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kcolorchooser-20.04.0.tar.xz">kcolorchooser-20.04.0</a></td>
   <td align="right">21kB</td>
   <td><tt>a90f8ac7fb74e7204e32f915052e2976661cbe2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kcron-20.04.0.tar.xz">kcron-20.04.0</a></td>
   <td align="right">871kB</td>
   <td><tt>a995e3ac1f055612f939e664c2cb806b9deedba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdav-20.04.0.tar.xz">kdav-20.04.0</a></td>
   <td align="right">56kB</td>
   <td><tt>0a0e07231abc6713a3781d97f08c04fcfae452e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdebugsettings-20.04.0.tar.xz">kdebugsettings-20.04.0</a></td>
   <td align="right">63kB</td>
   <td><tt>6d83e7b5a1ebf2c40f1ea31937bf024a8f6d05f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdeconnect-kde-20.04.0.tar.xz">kdeconnect-kde-20.04.0</a></td>
   <td align="right">418kB</td>
   <td><tt>1fe32970e61d72c1f7e5fc127668c4393bfa3f9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kde-dev-scripts-20.04.0.tar.xz">kde-dev-scripts-20.04.0</a></td>
   <td align="right">369kB</td>
   <td><tt>ad547d46bd0063e47304edd4a37ba2ef19235cc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kde-dev-utils-20.04.0.tar.xz">kde-dev-utils-20.04.0</a></td>
   <td align="right">62kB</td>
   <td><tt>aedccddcab36ed7751f77532ab66ecacaac933f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdeedu-data-20.04.0.tar.xz">kdeedu-data-20.04.0</a></td>
   <td align="right">321kB</td>
   <td><tt>084c4e0dd440103573984e04a03c2334e1fe5783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdegraphics-mobipocket-20.04.0.tar.xz">kdegraphics-mobipocket-20.04.0</a></td>
   <td align="right">16kB</td>
   <td><tt>42323ff81977f7e24fce0b504b341d96c7f03559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdegraphics-thumbnailers-20.04.0.tar.xz">kdegraphics-thumbnailers-20.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>b6a970506ed2d9a0a5354cb82ccaa01818cd6aab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdenetwork-filesharing-20.04.0.tar.xz">kdenetwork-filesharing-20.04.0</a></td>
   <td align="right">312kB</td>
   <td><tt>745d7ed7eac7b7762b0a46a8d03531f54eb86472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdenlive-20.04.0.tar.xz">kdenlive-20.04.0</a></td>
   <td align="right">11013kB</td>
   <td><tt>99dd6ec125d5e351611d854794f65f630e03701d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdepim-addons-20.04.0.tar.xz">kdepim-addons-20.04.0</a></td>
   <td align="right">2016kB</td>
   <td><tt>93fa3fad05b9672e8411376e058e9a3b2e0e1d09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdepim-apps-libs-20.04.0.tar.xz">kdepim-apps-libs-20.04.0</a></td>
   <td align="right">82kB</td>
   <td><tt>af532eb76e208d3e80ded7a93dc281d504f3d509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdepim-runtime-20.04.0.tar.xz">kdepim-runtime-20.04.0</a></td>
   <td align="right">1699kB</td>
   <td><tt>0108d4bfd016d17416425236c5580df595634b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdesdk-kioslaves-20.04.0.tar.xz">kdesdk-kioslaves-20.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>5ded4febebcac5038ebbe08ca47f0980d43914da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdesdk-thumbnailers-20.04.0.tar.xz">kdesdk-thumbnailers-20.04.0</a></td>
   <td align="right">17kB</td>
   <td><tt>b7a483bc48973857fa0ff5d881503da5584ebef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdf-20.04.0.tar.xz">kdf-20.04.0</a></td>
   <td align="right">451kB</td>
   <td><tt>803d8b2b752e649e7bf9e16e8d8d304dd7020949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdialog-20.04.0.tar.xz">kdialog-20.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>4222714cc837997cb25d503d3582ce1f43e24a34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kdiamond-20.04.0.tar.xz">kdiamond-20.04.0</a></td>
   <td align="right">4584kB</td>
   <td><tt>2e3148a0aa3ce3b5811be3ade7eaa3654e083bd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/keditbookmarks-20.04.0.tar.xz">keditbookmarks-20.04.0</a></td>
   <td align="right">183kB</td>
   <td><tt>bfc9d593a367fbd7c1bca33fe5504277b3872664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kfind-20.04.0.tar.xz">kfind-20.04.0</a></td>
   <td align="right">265kB</td>
   <td><tt>f276a1ce63a2a519050a76b7f32c071af26ce249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kfloppy-20.04.0.tar.xz">kfloppy-20.04.0</a></td>
   <td align="right">194kB</td>
   <td><tt>0dcc444035ec1ded46c97a2975e9bb48c944ebfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kfourinline-20.04.0.tar.xz">kfourinline-20.04.0</a></td>
   <td align="right">624kB</td>
   <td><tt>52ee34d22a947cc0359d58c2c025b380b0b5b0e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kgeography-20.04.0.tar.xz">kgeography-20.04.0</a></td>
   <td align="right">10613kB</td>
   <td><tt>93e053862f0ed1030e2d148bfafa885523425d63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kget-20.04.0.tar.xz">kget-20.04.0</a></td>
   <td align="right">5116kB</td>
   <td><tt>b070470b8015523ead9545687a141ef428ae2fe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kgoldrunner-20.04.0.tar.xz">kgoldrunner-20.04.0</a></td>
   <td align="right">4325kB</td>
   <td><tt>0e25b9109ab31b847cd2d13a5ce2a1cf1b52b568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kgpg-20.04.0.tar.xz">kgpg-20.04.0</a></td>
   <td align="right">2725kB</td>
   <td><tt>54c5c0a85b7379f6c53c48909259f700f0d8c231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/khangman-20.04.0.tar.xz">khangman-20.04.0</a></td>
   <td align="right">6944kB</td>
   <td><tt>0544d21d046029deecaab2a1426b8eccaca9e4d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/khelpcenter-20.04.0.tar.xz">khelpcenter-20.04.0</a></td>
   <td align="right">3752kB</td>
   <td><tt>52756a060bd29cd5c1d6bb7428c30972e2e30b0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kidentitymanagement-20.04.0.tar.xz">kidentitymanagement-20.04.0</a></td>
   <td align="right">145kB</td>
   <td><tt>7599ab24dba2571326b03caf73ec318ca2bec00d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kig-20.04.0.tar.xz">kig-20.04.0</a></td>
   <td align="right">3417kB</td>
   <td><tt>b03000ac1d6487e55e4edc8a36ab485d4e0d59af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kigo-20.04.0.tar.xz">kigo-20.04.0</a></td>
   <td align="right">5104kB</td>
   <td><tt>a93dde7d4d9971a72bb12950ae214336eaeab524</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/killbots-20.04.0.tar.xz">killbots-20.04.0</a></td>
   <td align="right">1146kB</td>
   <td><tt>0721d4c22679b0d17f6fd8c6fa9e34cb59892439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kimagemapeditor-20.04.0.tar.xz">kimagemapeditor-20.04.0</a></td>
   <td align="right">1046kB</td>
   <td><tt>b1e75ce5790483a4a79f3f58c7064ffcb6417ee9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kimap-20.04.0.tar.xz">kimap-20.04.0</a></td>
   <td align="right">116kB</td>
   <td><tt>243d6b879c11e92a25dd882ee8f5f8f9a537156c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kio-extras-20.04.0.tar.xz">kio-extras-20.04.0</a></td>
   <td align="right">602kB</td>
   <td><tt>15d9493a7de8f319d98121de16cca8ed67d5c984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kipi-plugins-20.04.0.tar.xz">kipi-plugins-20.04.0</a></td>
   <td align="right">1596kB</td>
   <td><tt>d01d9ab7d1965246de1493f3144030e5989ebebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kirigami-gallery-20.04.0.tar.xz">kirigami-gallery-20.04.0</a></td>
   <td align="right">272kB</td>
   <td><tt>2021cf4482b5da4acb50104f071521d82b4987fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kiriki-20.04.0.tar.xz">kiriki-20.04.0</a></td>
   <td align="right">364kB</td>
   <td><tt>411f5c8389484d8eccec82a8f70606193d0617f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kiten-20.04.0.tar.xz">kiten-20.04.0</a></td>
   <td align="right">11019kB</td>
   <td><tt>077f3e3bc2d38be4709a64dd783baa1c31deb2a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kitinerary-20.04.0.tar.xz">kitinerary-20.04.0</a></td>
   <td align="right">1251kB</td>
   <td><tt>62f8bf7bbb8c69bb023ebfd9aa50790cbe7b6d73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kjumpingcube-20.04.0.tar.xz">kjumpingcube-20.04.0</a></td>
   <td align="right">282kB</td>
   <td><tt>be41518618336c526aa1fdcc8a7e0a3f163cbeac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kldap-20.04.0.tar.xz">kldap-20.04.0</a></td>
   <td align="right">145kB</td>
   <td><tt>4532d37c179cb0873c856c252a19c032356493e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kleopatra-20.04.0.tar.xz">kleopatra-20.04.0</a></td>
   <td align="right">1890kB</td>
   <td><tt>6450c9209a2559dcb6861903820f63e4bae3d8c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/klettres-20.04.0.tar.xz">klettres-20.04.0</a></td>
   <td align="right">39199kB</td>
   <td><tt>1a5227f82eb074550d9555075546083071fea70d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/klickety-20.04.0.tar.xz">klickety-20.04.0</a></td>
   <td align="right">1358kB</td>
   <td><tt>1d0e2f198ac949307400018e06048a9fdd6eaba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/klines-20.04.0.tar.xz">klines-20.04.0</a></td>
   <td align="right">1740kB</td>
   <td><tt>6c1286b238234ae165f6133e2d00fa360c68447b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmag-20.04.0.tar.xz">kmag-20.04.0</a></td>
   <td align="right">658kB</td>
   <td><tt>d777515a7ee93012027d36ddc0cf58e891804b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmahjongg-20.04.0.tar.xz">kmahjongg-20.04.0</a></td>
   <td align="right">3347kB</td>
   <td><tt>9da8864aef337b509def4e3f1af4ae9cbea328ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmail-20.04.0.tar.xz">kmail-20.04.0</a></td>
   <td align="right">4610kB</td>
   <td><tt>b8c202fe0a6f68196ea70683d34e35db108602c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmail-account-wizard-20.04.0.tar.xz">kmail-account-wizard-20.04.0</a></td>
   <td align="right">154kB</td>
   <td><tt>4fe6d529f63fc61681c1729ede3740f5ab55fe67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmailtransport-20.04.0.tar.xz">kmailtransport-20.04.0</a></td>
   <td align="right">162kB</td>
   <td><tt>c065c0049a188db2809f3ff98b9252273fa0870d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmbox-20.04.0.tar.xz">kmbox-20.04.0</a></td>
   <td align="right">24kB</td>
   <td><tt>a5a3e7d9be5f74f7b8e960af1d20f2b235f12650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmime-20.04.0.tar.xz">kmime-20.04.0</a></td>
   <td align="right">143kB</td>
   <td><tt>4d973f83d175cff9ac880bf6ed7e84fc483d726e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmines-20.04.0.tar.xz">kmines-20.04.0</a></td>
   <td align="right">878kB</td>
   <td><tt>2e9454629332ea57fe69d6677a4c32c254bd8f13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmix-20.04.0.tar.xz">kmix-20.04.0</a></td>
   <td align="right">983kB</td>
   <td><tt>4c65f0930f84bb1d5949665e5d472de536b5e932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmousetool-20.04.0.tar.xz">kmousetool-20.04.0</a></td>
   <td align="right">111kB</td>
   <td><tt>8cba2fa6852bb9ebe79d6d4827a74684b69229a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmouth-20.04.0.tar.xz">kmouth-20.04.0</a></td>
   <td align="right">1918kB</td>
   <td><tt>70a5b767e3795278571328bc0402821afdb5fe0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kmplot-20.04.0.tar.xz">kmplot-20.04.0</a></td>
   <td align="right">2984kB</td>
   <td><tt>a1f688f4380d8d2f4657f0e23e178d5158993ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/knavalbattle-20.04.0.tar.xz">knavalbattle-20.04.0</a></td>
   <td align="right">1252kB</td>
   <td><tt>2c16de96298c8f223fce8a01e74b77faa4951608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/knetwalk-20.04.0.tar.xz">knetwalk-20.04.0</a></td>
   <td align="right">1229kB</td>
   <td><tt>02810df56d088635fe0081cb2f52b55fe97e21b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/knights-20.04.0.tar.xz">knights-20.04.0</a></td>
   <td align="right">3440kB</td>
   <td><tt>c5e2260214bc3673a647314b79c3bb104c779545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/knotes-20.04.0.tar.xz">knotes-20.04.0</a></td>
   <td align="right">313kB</td>
   <td><tt>fb1f5fdfaaba4fe032997af5574556ef57aeb4b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kolf-20.04.0.tar.xz">kolf-20.04.0</a></td>
   <td align="right">995kB</td>
   <td><tt>8d3ba8c5ce5c9425e345e97165c8ada17dea7e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kollision-20.04.0.tar.xz">kollision-20.04.0</a></td>
   <td align="right">274kB</td>
   <td><tt>9cfa195d534a15b741167825eaa1e8afd0521f33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kolourpaint-20.04.0.tar.xz">kolourpaint-20.04.0</a></td>
   <td align="right">5519kB</td>
   <td><tt>79153dc08ea9b3192f572011f95136f1cb67418b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kompare-20.04.0.tar.xz">kompare-20.04.0</a></td>
   <td align="right">783kB</td>
   <td><tt>7e35aaecb5678522d2ac5e5efb594daa6e89151b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/konqueror-20.04.0.tar.xz">konqueror-20.04.0</a></td>
   <td align="right">7203kB</td>
   <td><tt>a5b7fa086b8387690ee7ff1ca4fa09cafe279801</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/konquest-20.04.0.tar.xz">konquest-20.04.0</a></td>
   <td align="right">644kB</td>
   <td><tt>3514554910cd307c352210b0812d86f978dbddce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/konsole-20.04.0.tar.xz">konsole-20.04.0</a></td>
   <td align="right">1138kB</td>
   <td><tt>f336d667128dd2c533002c7ea9d28b41271b1cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kontact-20.04.0.tar.xz">kontact-20.04.0</a></td>
   <td align="right">774kB</td>
   <td><tt>3a0a38e8f6c2edaaa20c881e65507b46addcd02c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kontactinterface-20.04.0.tar.xz">kontactinterface-20.04.0</a></td>
   <td align="right">32kB</td>
   <td><tt>2fcfafa49c906d43211018e1046e2ae41516e5e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kopete-20.04.0.tar.xz">kopete-20.04.0</a></td>
   <td align="right">9151kB</td>
   <td><tt>728ea1417c5689b088614572293c467f312615ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/korganizer-20.04.0.tar.xz">korganizer-20.04.0</a></td>
   <td align="right">2186kB</td>
   <td><tt>d9c0a661d285db9c8956d08b043bc1af76fa8168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kpat-20.04.0.tar.xz">kpat-20.04.0</a></td>
   <td align="right">3493kB</td>
   <td><tt>e23885369f137b441d81c5f1e9423940573856b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kpimtextedit-20.04.0.tar.xz">kpimtextedit-20.04.0</a></td>
   <td align="right">167kB</td>
   <td><tt>891a56f99b2ea6f1df52c782e58b2ce3f18889f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kpkpass-20.04.0.tar.xz">kpkpass-20.04.0</a></td>
   <td align="right">22kB</td>
   <td><tt>7dab73f7d4a4d541f04d394439efbc5bc3c6e78a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kqtquickcharts-20.04.0.tar.xz">kqtquickcharts-20.04.0</a></td>
   <td align="right">25kB</td>
   <td><tt>0b4facd31c267784a68f4cfad3c4f88fb54da361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/krdc-20.04.0.tar.xz">krdc-20.04.0</a></td>
   <td align="right">1391kB</td>
   <td><tt>0565a6f07074922787a4674878ad862f897d36be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kreversi-20.04.0.tar.xz">kreversi-20.04.0</a></td>
   <td align="right">924kB</td>
   <td><tt>a1e666d02f9efe0904b1c5c858a749fa62967814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/krfb-20.04.0.tar.xz">krfb-20.04.0</a></td>
   <td align="right">1246kB</td>
   <td><tt>4c446bcf619758a6db6616ed3720ecbbfa0f34de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kross-interpreters-20.04.0.tar.xz">kross-interpreters-20.04.0</a></td>
   <td align="right">147kB</td>
   <td><tt>38ef2227f73782debd1478f192e71bcd174c7198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kruler-20.04.0.tar.xz">kruler-20.04.0</a></td>
   <td align="right">244kB</td>
   <td><tt>f525dae2688fa0af7d626e61303babe97aee2077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kshisen-20.04.0.tar.xz">kshisen-20.04.0</a></td>
   <td align="right">802kB</td>
   <td><tt>b3d9c960d19d4399170b12f9f92031352d802ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ksirk-20.04.0.tar.xz">ksirk-20.04.0</a></td>
   <td align="right">6825kB</td>
   <td><tt>467a29e7ffbd1888489923e41f9bf99d5f968333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ksmtp-20.04.0.tar.xz">ksmtp-20.04.0</a></td>
   <td align="right">40kB</td>
   <td><tt>85a38ae15459de9538faf6142f9aa0f5aadf3b99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ksnakeduel-20.04.0.tar.xz">ksnakeduel-20.04.0</a></td>
   <td align="right">591kB</td>
   <td><tt>736220263de0bc0ffc593e1c5d981354b7fbaff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kspaceduel-20.04.0.tar.xz">kspaceduel-20.04.0</a></td>
   <td align="right">597kB</td>
   <td><tt>a8782d757c0b20ed421ad512ac4c6c23cb82d6d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ksquares-20.04.0.tar.xz">ksquares-20.04.0</a></td>
   <td align="right">254kB</td>
   <td><tt>7044dbde2181c45f62235c347294950535d49dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ksudoku-20.04.0.tar.xz">ksudoku-20.04.0</a></td>
   <td align="right">1617kB</td>
   <td><tt>c25e745ab913f1f5ec72c93ef2a225fc1490c226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ksystemlog-20.04.0.tar.xz">ksystemlog-20.04.0</a></td>
   <td align="right">1884kB</td>
   <td><tt>ddcb69020d90b5c58e36203279431d754ced93df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kteatime-20.04.0.tar.xz">kteatime-20.04.0</a></td>
   <td align="right">280kB</td>
   <td><tt>7335d27e4252a9ebabe45d06146e2ce8ba95ccdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktimer-20.04.0.tar.xz">ktimer-20.04.0</a></td>
   <td align="right">368kB</td>
   <td><tt>32a1944dd66967bd21fe792a17c5d92899c50caf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktnef-20.04.0.tar.xz">ktnef-20.04.0</a></td>
   <td align="right">292kB</td>
   <td><tt>fb8022f14fed122a0cd014939c927d9e448ca297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktouch-20.04.0.tar.xz">ktouch-20.04.0</a></td>
   <td align="right">4820kB</td>
   <td><tt>3df9af18a0f818f215fef9b9c93b747826129b16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-accounts-kcm-20.04.0.tar.xz">ktp-accounts-kcm-20.04.0</a></td>
   <td align="right">255kB</td>
   <td><tt>d09ef78a105b62dab48479491cda4a25c870a70c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-approver-20.04.0.tar.xz">ktp-approver-20.04.0</a></td>
   <td align="right">36kB</td>
   <td><tt>05e0f42f9692f4ce97ed2a6de9fc085adfacc672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-auth-handler-20.04.0.tar.xz">ktp-auth-handler-20.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>99909adc02c2137820a87649c16928d0a945018d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-call-ui-20.04.0.tar.xz">ktp-call-ui-20.04.0</a></td>
   <td align="right">94kB</td>
   <td><tt>978e48fc1ab69b92c88e3f7eb879b62502ac26c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-common-internals-20.04.0.tar.xz">ktp-common-internals-20.04.0</a></td>
   <td align="right">438kB</td>
   <td><tt>dca24d4ece862be075a944ef8d7e070baacf9357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-contact-list-20.04.0.tar.xz">ktp-contact-list-20.04.0</a></td>
   <td align="right">145kB</td>
   <td><tt>16a94043f1af7ef59594237d33de3ae3ce44fa99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-contact-runner-20.04.0.tar.xz">ktp-contact-runner-20.04.0</a></td>
   <td align="right">41kB</td>
   <td><tt>c9c6c3dd80b2118f924be27df7f6fbf857d8a689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-desktop-applets-20.04.0.tar.xz">ktp-desktop-applets-20.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>b7c3025c0158a782dd84236c9656b4d0e6be40fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-filetransfer-handler-20.04.0.tar.xz">ktp-filetransfer-handler-20.04.0</a></td>
   <td align="right">45kB</td>
   <td><tt>08996f8b4c311b7e4eb4f76ee4b46795e1b947a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-kded-module-20.04.0.tar.xz">ktp-kded-module-20.04.0</a></td>
   <td align="right">95kB</td>
   <td><tt>f85199630f3c29f209b2e7eff5b0bc42d188aa90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-send-file-20.04.0.tar.xz">ktp-send-file-20.04.0</a></td>
   <td align="right">27kB</td>
   <td><tt>4159d91e2f955ad3aab60ab86dd1bf3a93c9af94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktp-text-ui-20.04.0.tar.xz">ktp-text-ui-20.04.0</a></td>
   <td align="right">458kB</td>
   <td><tt>f9f395327f17df28e671b48548550ddb86ff643c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/ktuberling-20.04.0.tar.xz">ktuberling-20.04.0</a></td>
   <td align="right">69066kB</td>
   <td><tt>72d3e0f43f8a0c6d0a66638b2302531d19362937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kturtle-20.04.0.tar.xz">kturtle-20.04.0</a></td>
   <td align="right">1790kB</td>
   <td><tt>e733ebf89efd4d88653d4eb2b67e6e9d804d4f17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kubrick-20.04.0.tar.xz">kubrick-20.04.0</a></td>
   <td align="right">310kB</td>
   <td><tt>17d140497b452c097c88b5d1fb4ae9c8e1aa09e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kwalletmanager-20.04.0.tar.xz">kwalletmanager-20.04.0</a></td>
   <td align="right">770kB</td>
   <td><tt>d2932211e60ac4ddd7feb0525ef9752d55e8b083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kwave-20.04.0.tar.xz">kwave-20.04.0</a></td>
   <td align="right">6050kB</td>
   <td><tt>e22c81ba621ff81f0914bd8adffcc2ba52f5653f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/kwordquiz-20.04.0.tar.xz">kwordquiz-20.04.0</a></td>
   <td align="right">4077kB</td>
   <td><tt>26864f9030cefd3ea5bdb6ebfcbbabaa3b1aec85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libgravatar-20.04.0.tar.xz">libgravatar-20.04.0</a></td>
   <td align="right">30kB</td>
   <td><tt>2aec0ae6e0d1b8bb95d7b916ceb265d44f56080c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkcddb-20.04.0.tar.xz">libkcddb-20.04.0</a></td>
   <td align="right">417kB</td>
   <td><tt>96e565ee2d2c424f5e820d6df3d3c8d16b45076c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkcompactdisc-20.04.0.tar.xz">libkcompactdisc-20.04.0</a></td>
   <td align="right">86kB</td>
   <td><tt>a8d252285e9ef26732e1397205d8b6f1df6220ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkdcraw-20.04.0.tar.xz">libkdcraw-20.04.0</a></td>
   <td align="right">40kB</td>
   <td><tt>b8c2db2572db3eba8d8789dd473a90027ef94b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkdegames-20.04.0.tar.xz">libkdegames-20.04.0</a></td>
   <td align="right">6227kB</td>
   <td><tt>f11ef3d679175ddbfbdcfe2e0050a186e40f6e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkdepim-20.04.0.tar.xz">libkdepim-20.04.0</a></td>
   <td align="right">325kB</td>
   <td><tt>5395411bca57748626b04392070d7ff17b04d53e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkeduvocdocument-20.04.0.tar.xz">libkeduvocdocument-20.04.0</a></td>
   <td align="right">202kB</td>
   <td><tt>44faa182719ab1ad12147af7b71e235667724c2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkexiv2-20.04.0.tar.xz">libkexiv2-20.04.0</a></td>
   <td align="right">63kB</td>
   <td><tt>acef96bf83b33afb0edc5c4ba48071d72a1e0028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkgapi-20.04.0.tar.xz">libkgapi-20.04.0</a></td>
   <td align="right">234kB</td>
   <td><tt>dda66c2f8860f49032abe4d9b31d74788457c6b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkgeomap-20.04.0.tar.xz">libkgeomap-20.04.0</a></td>
   <td align="right">147kB</td>
   <td><tt>f93427557fefe2448b56dbe7e8ad5bd354060229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkipi-20.04.0.tar.xz">libkipi-20.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>e80bc49a79717699498087b5340c4e4deda84887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkleo-20.04.0.tar.xz">libkleo-20.04.0</a></td>
   <td align="right">343kB</td>
   <td><tt>2f21c32969b21cb85cba2cdf2ab99b27e593bd78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkmahjongg-20.04.0.tar.xz">libkmahjongg-20.04.0</a></td>
   <td align="right">1644kB</td>
   <td><tt>6318e0c57346efa063cc7c7633135b7aad01238b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libkomparediff2-20.04.0.tar.xz">libkomparediff2-20.04.0</a></td>
   <td align="right">166kB</td>
   <td><tt>d4ed6f7206d2b5156a048df10f9f8f22ac22f6b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libksane-20.04.0.tar.xz">libksane-20.04.0</a></td>
   <td align="right">139kB</td>
   <td><tt>17d18de4eca2d6d2316224316e64708c4471ce65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/libksieve-20.04.0.tar.xz">libksieve-20.04.0</a></td>
   <td align="right">541kB</td>
   <td><tt>5a31f144ad6861e453a34ba0b7d7a9b62692b0d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/lokalize-20.04.0.tar.xz">lokalize-20.04.0</a></td>
   <td align="right">1674kB</td>
   <td><tt>97bca85943c49995f0d82c9685e1fee31c63e770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/lskat-20.04.0.tar.xz">lskat-20.04.0</a></td>
   <td align="right">1191kB</td>
   <td><tt>4af44b5e62e9c5f1631d1b7e422029fc27e162c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/mailcommon-20.04.0.tar.xz">mailcommon-20.04.0</a></td>
   <td align="right">690kB</td>
   <td><tt>226ab6b7006b4a7c7c8d942bcfae4c3c86aff486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/mailimporter-20.04.0.tar.xz">mailimporter-20.04.0</a></td>
   <td align="right">527kB</td>
   <td><tt>bec84ce152bb29ffbe5abe80e835c193695b35ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/marble-20.04.0.tar.xz">marble-20.04.0</a></td>
   <td align="right">50970kB</td>
   <td><tt>bc615a132721829c05437e7d12dc0e57d384fa4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/mbox-importer-20.04.0.tar.xz">mbox-importer-20.04.0</a></td>
   <td align="right">32kB</td>
   <td><tt>39d7a06c9ce8a6a6511475b5dd54142509e5e750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/messagelib-20.04.0.tar.xz">messagelib-20.04.0</a></td>
   <td align="right">10248kB</td>
   <td><tt>b3ac3ca08747bc12b8dee2d72eae33caf09dc71e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/minuet-20.04.0.tar.xz">minuet-20.04.0</a></td>
   <td align="right">26957kB</td>
   <td><tt>42e014c9cd165b1c2ab9b395aa16ff1a5fcf4800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/okular-20.04.0.tar.xz">okular-20.04.0</a></td>
   <td align="right">7067kB</td>
   <td><tt>fceaa493589fbd9755a5feb34b3cf536cdc5c6a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/palapeli-20.04.0.tar.xz">palapeli-20.04.0</a></td>
   <td align="right">2023kB</td>
   <td><tt>a271acc3ce12b708f84f8bee333c1303ed200be4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/parley-20.04.0.tar.xz">parley-20.04.0</a></td>
   <td align="right">8629kB</td>
   <td><tt>619b0708ccd4d2eaaf7a29c27637e95ea4fc1322</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/picmi-20.04.0.tar.xz">picmi-20.04.0</a></td>
   <td align="right">1328kB</td>
   <td><tt>01f7f7325cc70bf98722e307e286ee9c591b1578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/pimcommon-20.04.0.tar.xz">pimcommon-20.04.0</a></td>
   <td align="right">287kB</td>
   <td><tt>1a9a4bf5400b92ae536b158d92e528984b3b45c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/pim-data-exporter-20.04.0.tar.xz">pim-data-exporter-20.04.0</a></td>
   <td align="right">202kB</td>
   <td><tt>a171a962ed2a54c7de386ad27f178e849496bdb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/pim-sieve-editor-20.04.0.tar.xz">pim-sieve-editor-20.04.0</a></td>
   <td align="right">442kB</td>
   <td><tt>f24e1f0735758fae555f7f76ab8d0f2df10c7222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/poxml-20.04.0.tar.xz">poxml-20.04.0</a></td>
   <td align="right">42kB</td>
   <td><tt>147e0e7ac2bd875a1da19a65c94822867e768c5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/print-manager-20.04.0.tar.xz">print-manager-20.04.0</a></td>
   <td align="right">249kB</td>
   <td><tt>04c873e3264c8a06f0f5b9c8036907a03e020515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/rocs-20.04.0.tar.xz">rocs-20.04.0</a></td>
   <td align="right">1470kB</td>
   <td><tt>6fc145d093eecc8a2d5e1ca279a0a0c2aadc2e70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/signon-kwallet-extension-20.04.0.tar.xz">signon-kwallet-extension-20.04.0</a></td>
   <td align="right">10kB</td>
   <td><tt>3470e535fcedb5f844d3bbf2fb7d7da9f85b4512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/spectacle-20.04.0.tar.xz">spectacle-20.04.0</a></td>
   <td align="right">645kB</td>
   <td><tt>767a70a1ef22d8729b7f2ccd03e5b00f3bc3c5a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/step-20.04.0.tar.xz">step-20.04.0</a></td>
   <td align="right">895kB</td>
   <td><tt>a727b27cd526faae764cd24af0d01be11638effe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/svgpart-20.04.0.tar.xz">svgpart-20.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>6adcb0be2120de7430e7158666f4f8d87b51dcd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/sweeper-20.04.0.tar.xz">sweeper-20.04.0</a></td>
   <td align="right">359kB</td>
   <td><tt>2b9f55e17bf009bc2cee2eecc9edec9539a4b730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/umbrello-20.04.0.tar.xz">umbrello-20.04.0</a></td>
   <td align="right">4279kB</td>
   <td><tt>8794d0d1a634365a316fd076b1e5467b59af3ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/yakuake-20.04.0.tar.xz">yakuake-20.04.0</a></td>
   <td align="right">365kB</td>
   <td><tt>578954a4acb0687c7349877fe4714990844b3148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.04.0/src/zeroconf-ioslave-20.04.0.tar.xz">zeroconf-ioslave-20.04.0</a></td>
   <td align="right">41kB</td>
   <td><tt>db6c5d4972099eb4c7c617bb675571e852bfc9f0</tt></td>
</tr>

</table>
